<div class="section">
    <h3>{{'ARGUMENTS_CONFIG' | translate}}</h3>

    <div class="section form-item">
        <h4>{{'TIME' | translate}}</h4>

        <app-time-options [category]="category" [fixedKlinePeriod]="fixedKlinePeriodId$ | async"></app-time-options>
    </div>

    <div class="section form-item">
        <h4>{{'OPTIONS' | translate}}</h4>

        <app-advanced-options [fixedKlinePeriod]="fixedFloorKlinePeriodId$ | async"></app-advanced-options>
    </div>

    <div class="section form-item">
        <h4>{{'PLATFORM' | translate}}</h4>

        <app-exchange-options (fixKlinePeriod)="fixedKlinePeriodId$.next($event)"></app-exchange-options>
    </div>

    <div class="section form-item" *ngIf="language === 1">
        <!--1: Python-->
        <h4>{{'DISPENSE' | translate}}</h4>

        <app-dispense-options [selectedNode]="runningNode | async" (nodeChange)="runningNode$.next($event)"></app-dispense-options>
    </div>

    <div class="section form-item">
        <h4>{{'ARGUMENTS' | translate}}</h4>

        <app-backtest-strategy-args [title]="(category === 20 ? 'TEMPLATE_ARGUMENTS' : 'STRATEGY_ARGUMENTS') | translate" [args]="strategyArgs | async"
            [id]="strategyId | async"></app-backtest-strategy-args>

        <app-backtest-strategy-args *ngFor="let item of templates | async" [title]="item.name" [args]="item.semanticArgs" [isTemplate]="true"
            [id]="item.id"></app-backtest-strategy-args>
    </div>

    <div class="section form-item" fxLayoutAlign="row center">
        <div class="command-btn-container">
            <button nz-button [nzType]="'primary'" (click)="startBacktest$.next(isFaultTolerantMode)" [disabled]="disableBacktest | async">
                <i class="anticon anticon-spin anticon-loading" *ngIf="isBacktestLoading | async"></i>
                {{backtestBtnText | async | translate}}
            </button>

            <button nz-button *ngIf="isBacktestLoading | async " [nzType]="'danger'" (click)="stopBacktest$.next(true)" class="stop-btn">{{'STOP' | translate}}</button>
        </div>

        <div class="fault-switch">
            <span [nz-tooltip]="'BACKTEST_FAULT_TOLERANT_DESCRIPTION' | translate">{{'FAULT_TOLERANT_MODE' | translate}}</span>

            <nz-switch [ngModel]="isFaultTolerantMode | async" (ngModelChange)="toggleBacktestMode()" [nzCheckedChildren]="'OPEN' | translate"
                [nzUnCheckedChildren]="'CLOSE' | translate">
            </nz-switch>
        </div>
    </div>
</div>

<div class="section">
    <h3>{{'BACKTEST_INFORMATION' | translate}}</h3>

    <div class="section form-item">
        <h4>{{'OVERVIEW' | translate}}</h4>
        <app-backtest-status></app-backtest-status>
    </div>

    <div class="section from-item">
        <h4>{{'LOG' | translate}}</h4>
        <app-backtest-log></app-backtest-log>
    </div>
</div>
