<div class="backtest-log">
    <button nz-button *ngIf="canSave | async" (click)="onDownload()" nzType="primary" nzSize="small" nzGhost>
        <i class="anticon anticon-download"></i>
        {{'DOWNLOAD' | translate}}
    </button>

    <app-running-log [logs]="logs | async" [statistics]="statistics | async" [logTotal]="logTotal | async" [pageSize]="pageSize | async"
        (search)="search$.next($event)" (pageChange)="pageIndex$.next($event)" (pageSizeChange)="pageSize$.next($event)"></app-running-log>
</div>
