@import '../../../theme/ng-zorro-extend/button/button';

nz-form-item {
    width: 50%;
}

.stock {
    nz-select:first-child {
        width: 20%;
    }

    nz-select:last-child {
        width: 80%;
    }

    input {
        width: 80%;
        border-radius: 0 4px 4px 0 !important;
    }
}

.group-select {
    display: flex;
    align-items: center;
}

#add-pair {
    width: 50%;
}

.add-pair {
    text-align: right;

    button {
        margin: 0 1em 0 0;
    }
}

.file-btn {
    position: relative;

    input {
        max-width: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
