@import '../../../theme/variable.theme';
@import '../../home/_home';

#feature {
    background-image: url('../../../assets/images/home/feature_bcg.png');
    background-size: 100% 100%;
    padding: $header-height 0 $header-height*2 0;

    #feature-container {
        display: flex;
        justify-content: space-between;
    }

    .feature {
        width: 326px;
        height: 328px;
        padding: 3em;
        box-shadow: 0 0 1px 1px #ccc;
        position: relative;

        .keyword_en {
            color: #cfcfcf;
            margin: 1em 0 0 0;
        }

        h3 {
            margin: 0 0 1em 0;
        }

        &:nth-child(2) {
            margin: 0 50px;
        }
    }

    .feature::before {
        @include indicator();
        top: -2px;
    }
}

@media screen and (max-width: $screen-width-small) {
    #feature-container {
        flex-direction: column;
        .feature {
            margin: 2em 0 !important;
        }
    }
}
