@import '../../../theme/variable.theme';
@import '../_home';
#feature-bcg {
    @include home-section-bcg(#f7f7f7);
}
#feature {
    padding: 48px $content-padding 40px;
    position: relative;
    .feature-border {
        background-color: rgb(84, 143, 232);
        height: 2px;
        margin-bottom: 26px;
        width: 90px;
    }
    .feature {
        position: relative;
        margin-bottom: 26px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        margin: 0 0 14px;
    }
    p {
        min-height: 60px;
        margin: 16px 12px 16px 0;
    }
    .detail {
        color: $blue;
    }
}

@media screen and (max-width: $screen-width-small) {
    #feature-bcg {
        margin: 0;
    }
    .feature {
        width: 100%;
    }
}
