<div id="feature-bcg">
    <div
        nz-row
        id="feature"
    >
        <div
            *ngFor="let item of list"
            nz-col
            [nzSpan]="8"
            fxLayoutAlign="start stretch"
            fxLayout="column"
            class="feature"
        >
            <div class="feature-border"></div>
            <h3>{{item.keyword | translate}}</h3>
            <p>{{item.label | translate}}</p>
            <a
                href="javascript:void 0"
                class="detail"
            >
                {{'FIND_OUT_DETAILS' | translate}}
                <i class="anticon anticon-right-circle"></i>
            </a>
        </div>
    </div>
</div>
