<nz-spin [nzSpinning]="isLoading | async" [nzTip]="'LOADING' | translate">
    <div *ngIf="detail | async as data;">
        <div fxLayoutAlign="space-between center">
            <ul fxLayout="row">
                <li class="subtitle">
                    <i class="anticon anticon-user"></i>
                    {{data.username}}
                </li>

                <li class="subtitle">
                    <i class="anticon anticon-clock-circle-o"></i>
                    {{data.category | categoryName | translate }}
                </li>

                <li class="subtitle">
                    <i class="anticon anticon-clock-circle-o"></i>
                    {{data.date}}
                </li>

                <li class="subtitle">
                    <i class="anticon anticon-clock-circle-o"></i>
                    {{data.last_modified}}
                </li>
            </ul>

            <app-share [topic]="data.name" [pictures]="pictures | async"></app-share>
        </div>

        <markdown *ngIf="data.description as des; else emptyBlock" [data]="des" class="content"></markdown>

        <div class="operate-btn">
            <button *ngIf="data.public === 1; else buyBlock" nz-button nzSize="large" nzType="primary" (click)="navigateTo(data)">{{'STRATEGY_COPY'
                | translate}}</button>
            <ng-template #buyBlock>
                <button nz-button (click)="buyStrategy(data)" nzSize="large" nzType="primary">{{'PURCHASE' |
                    translate}}</button>
            </ng-template>
        </div>
    </div>

</nz-spin>

<ng-template #emptyBlock>
    {{'STRATEGY_NONE_DESCRIPTION' | translate}}
</ng-template>
