ul {
    font-size: 12px;
    list-style: none;
    .subtitle {
        padding: 0 1em 0 0;
        b::after {
            content: ':'
        }
    }
}

.content {
    img {
        max-width: 100%;
    }
}

.share-bar {
    padding: 2em 1em;
}

.operate-btn {
    margin: 2em 0;
}
