@import '../../../theme/variable.theme';

ul {
    margin: 0;

    li:not(:last-child) {
        position: relative;
        padding-right: 15px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: color(weak-bcg);
        }
    }
}

.content {
    img {
        max-width: 100%;
    }
}

.operate-btn {
    margin: 2em 0;
}
