<app-indicator [paths]="paths"></app-indicator>

<app-strategy-overview></app-strategy-overview>

<div id="table-head">
    <a nz-button [nzType]="'primary'" routerLink="add">
        <i class="anticon anticon-plus"></i>
        {{'EDIT_NEW_STRATEGY' | translate}}
    </a>
    <a nz-button [nzType]="'secondary'" routerLink="../../square">
        <i class="anticon anticon-profile"></i>
        {{'GO_TO_STRATEGY_SQUARE' | translate}}
    </a>

    <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input [placeholder]="'DISPLAY_BY_KEYWORD' | translate" [formControl]='search'>
    </nz-input-group>
</div>

<nz-spin [nzTip]="'LOADING' | translate" [nzSpinning]="isLoading | async">
    <app-strategy-list [list]="strategyList | async" (share)="share$.next($event)" (renewal)="renewal$.next($event)" (delete)="delete$.next($event)"></app-strategy-list>
</nz-spin>
