@import '../../../theme/ng-zorro-extend/button/button';

.strategy-head {
    position: relative;

    .operate {
        @include operateBtnGroup();

        a:not(:last-child) {
            margin-right: 1em;
        }
    }
}

.content {
    @include commonContent();
    margin: $block-vertical-space 0 0 0;

    nz-input-group {
        width: 200px;
    }
}
