<div fxLayout="column" fxLayoutAlign="center center">
    <div class="auth">
        <img src="../../../assets/images/auth.jpg">
    </div>
    <div class="login-main">
        <nz-card [nzTitle]="'USER_LOGIN' | translate">
            <form nz-form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="login$.next(loginForm.value)">
                <nz-form-item>
                    <nz-form-label nzRequired>{{'USERNAME' | translate}}</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="userPrefix">
                            <input formControlName="username" [nzSize]="inputSize" [placeholder]="'USERNAME' | translate" nz-input required>
                            <ng-template #userPrefix>
                                <i class="anticon anticon-user"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="username.invalid && (username.dirty || username.touched)">
                            <div *ngIf="!!username.errors.required">{{'USERNAME_TIP' | translate}}</div>
                            <div *ngIf="!username.errors.required && !!username.errors.usernameFormat">{{loginForm.getError('usernameFormat', 'username') | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label  nzRequired id="get-password">{{'PASSWORD' | translate}}</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="pwdPrefix">
                            <input type="password" formControlName="password" [nzSize]="inputSize" [placeholder]="'PASSWORD' | translate" nz-input required>
                            <ng-template #pwdPrefix>
                                <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="!!password.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
                            <div *ngIf="!password.errors.required && !!password.errors.passwordFormat">{{loginForm.getError('passwordFormat', 'password') | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="needVerification | async">
                    <nz-form-label>{{'VERIFICATION_CODE' | translate}}</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="verifyPrefix">
                            <input formControlName="verificationCode" [nzSize]="inputSize" [placeholder]="'VERIFICATION_CODE' | translate"
                                nz-input>
                            <ng-template #verifyPrefix>
                                <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="verificationCode.invalid && (verificationCode.dirty || verificationCode.touched)">
                            <div *ngIf="!!verificationCode.errors.required">{{'VERIFICATION_CODE_TIP' | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button [nzType]="'primary'" type="submit" [nzSize]="'large'" [disabled]="!loginForm.valid" style="height: 46px">{{'LOGIN' | translate}}</button>
            </form>
            <div class="bottom-text">
                <span>{{"HAVE_NO_ACCOUNT" | translate}}</span>
                <a routerLink="/auth/signup">{{'REGISTER_NOW' | translate}}</a>
            </div>
        </nz-card>
    </div>
</div>
