<nz-table #nzTable [nzData]="logs" [nzPageSize]="pageSize" [nzShowPagination]="false">
    <thead>
        <tr>
            <th bt-text-center>{{'TIME' | translate}}</th>
            <th bt-text-center>{{'PLATFORM' | translate}}</th>
            <th bt-text-center nzShowFilter [nzFilters]="filterTypes" (nzFilterChange)="search.next($event)">{{'TYPE' | translate}}</th>
            <th bt-text-center>{{'PRICE' | translate}}</th>
            <th bt-text-center>{{'AMOUNT' | translate}}</th>
            <th bt-text-center nzWidth="50%">{{'INFORMATION' | translate}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let data of nzTable.data" [ngStyle]="{color: data.extra | extraColorPicker, 'background-color': data.extra | extraBcgColorPicker}">
            <td>{{data.date}}</td>

            <td>
                <!-- 0: 买入 1：卖出 2：撤消 3：错误 4：收益 5：消息 6：重启 -->
                <span *ngIf="data.logType < 4">{{data.eid | eid2String}}</span>
            </td>

            <td bt-text-center>
                <span>{{data.logType | logType | translate}}</span>
                <span *ngIf="!!(data.direction | directionType)">
                    {{data.direction | directionType | translate}} - {{data.contractType}}
                </span>
            </td>

            <td>
                <span *ngIf="data.logType === 0 || data.logType === 2 || data.logType === 4">
                    {{data.price | logPrice: data.logType}}
                </span>
            </td>

            <td>
                <span *ngIf="data.logType === 0 || data.logType === 2 || data.logType === 4">{{data.logType
                    < 2 ? data.amount : ''}}</span>
            </td>

            <td>
                <span [innerHTML]="data.extra | extraContent | safeHtml"></span>
                <span *ngIf="data.extra | showExtraIcon" class="anticon anticon-rocket" style="margin-left: 8px;"></span>
            </td>
        </tr>
    </tbody>
</nz-table>

<div fxLayoutAlign="space-between center" class="pagination">
    <div>{{statistics}}</div>
    <nz-pagination [(nzPageIndex)]="currentPage" (nzPageIndexChange)="pageChange.next(currentPage)" [nzTotal]="logTotal" [nzPageSize]="pageSize"
        (nzPageSizeChange)="pageSizeChange.next($event)" [nzPageSizeOptions]="pageSizeSelectorValues" nzShowQuickJumper nzShowSizeChanger></nz-pagination>
</div>
