<app-indicator [paths]="paths"></app-indicator>

<form nz-form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="form" (ngSubmit)="submit$.next(form.value)">

    <nz-form-item>
        <nz-form-label [nzSm]="labelSm" [nzXs]="xs" nzRequired>{{'OLD_PASSWORD' | translate}}</nz-form-label>
        <nz-form-control [nzSm]="controlSm" [nzXs]="xs" nzHasFeedback>
            <nz-input-group [nzPrefix]="prefix">
                <input type="password" formControlName="oldPwd" nz-input>
                <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                </ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="oldPwd.invalid && (oldPwd.dirty || oldPwd.touched)">
                <div *ngIf="!!oldPwd.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
                <div *ngIf="!oldPwd.errors.required && !!oldPwd.errors.passwordFormat">{{form.getError('passwordFormat', 'oldPwd') | translate}}</div>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="labelSm" [nzXs]="xs" nzRequired>{{'NEW_PASSWORD' | translate}}</nz-form-label>
        <nz-form-control [nzSm]="controlSm" [nzXs]="xs" nzHasFeedback>
            <nz-input-group [nzPrefix]="prefix">
                <input type="password" formControlName="password" nz-input>
                <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                </ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="!!password.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
                <div *ngIf="!password.errors.required && !!password.errors.passwordFormat">{{form.getError('passwordFormat', 'password') | translate}}</div>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="labelSm" [nzXs]="xs" nzRequired>{{'CONFIRM_PASSWORD' | translate}}</nz-form-label>
        <nz-form-control [nzSm]="controlSm" [nzXs]="xs" nzHasFeedback>
            <nz-input-group [nzPrefix]="prefix">
                <input type="password" formControlName="confirmPassword" nz-input>
                <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                </ng-template>
            </nz-input-group>
            <nz-form-explain *ngIf="form.hasError('mismatch') && (confirmPassword.dirty || confirmPassword.touched)" style="color: #f44336">
                <span>{{form.getError('mismatch') | translate}}</span>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14" [nzOffset]="labelSm">
            <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">{{'CONFIRM_MODIFY' | translate}}</button>
        </nz-form-control>
    </nz-form-item>
</form>
