@import '../../../theme/_variable.theme';

.alternative {
    display: inline-block;
    min-width: 70%;
}

.title {
    background-color: color(primary);
    border-radius: 4px;
    text-indent: 1em;
    color: color(weak-bcg);
    min-height: 39px;
    line-height: 39px;
}

button {
    margin: 0 0 0 5px;
}
