@import '../../../theme/_variable.theme';

.alternative {
    display: inline-block;
    min-width: 70%;
}

.title {
    background: $primary-3;
    border-radius: 4px;
    text-indent: 1em;
    min-height: 39px;
    line-height: 39px;
}

nz-form-item {
    width: 33%;
}

button {
    margin: 0 0 0 5px;
}
