<h3>{{(isShare ? 'COPY_CODE': 'REGISTER_CODE') | translate}}</h3>

<form nz-form [formGroup]="form" [nzLayout]="'horizontal'">
    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8">{{'VALID_DAYS' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="8">
            <input type="number" formControlName="days" nz-input>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8">{{(isShare ? 'SHARE_COUNT': 'MAX_CONCURRENT') | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="8" [nz-tooltip]="tooltip | translate" >
            <input type="number" formControlName="concurrent" nz-input>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <span class="extra">{{extra | translate}}</span>
    </nz-form-item>
</form>

<div class="button-group" bt-text-direction direction="right">
    <button nz-button (click)="close(null)">{{'CANCEL' | translate}}</button>
    <button nz-button (click)="close(form.value)" [disabled]="form.invalid" [nzType]="'primary'">{{(isShare ? 'GENERATE_COPY_CODE': 'GENERATE_REGISTER_CODE') | translate}}</button>
</div>
