<h5 class="arg-title">{{'OPTIMIZE_FILTER' | translate}}</h5>

<form nz-form [nzLayout]="'inline'">
    <nz-form-item>
        <nz-form-label nzRequired>{{'COMPARE_VALUE' | translate}}</nz-form-label>
        <nz-form-control style="min-width: 10em">
            <nz-select [(ngModel)]="selectedLeftVariable" [ngModelOptions]="{standalone: true}">
                <nz-option *ngFor="let leftArg of leftList" [nzLabel]="leftArg.variableDes" [nzValue]="leftArg"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>{{'LOGIC' | translate}}</nz-form-label>
        <nz-form-control>
            <nz-select [(ngModel)]="selectedOperator" [ngModelOptions]="{standalone: true}">
                <nz-option *ngFor="let operator of operators" [nzLabel]="operator.name | translate" [nzValue]="operator"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>

        <nz-form-label nzRequired>{{'COMPARED_VALUE' | translate}}</nz-form-label>
        <nz-form-control style="min-width: 10em">
            <nz-select [(ngModel)]="selectedRightVariable" [ngModelOptions]="{standalone: true}" [nzDisabled]="!selectedLeftVariable">
                <nz-option *ngFor="let rightArg of rightList" [nzLabel]="rightArg.variableDes" [nzValue]="rightArg" [nzDisabled]="rightArg.variableDes === selectedLeftVariable?.variableDes"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>{{'COMPARE_BASE_VALUE' | translate}}</nz-form-label>
        <nz-form-control>
            <!--2: equal-->
            <nz-input-number [(ngModel)]="selectedValue" [nzDisabled]="selectedOperator.id===2" (ngModelChange)="checkValue()" [ngModelOptions]="{standalone: true}"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control>
            <button nz-button [nzType]="'primary'" [disabled]="!selectedLeftVariable || !selectedRightVariable" (click)="addFilter()">{{'ADD' | translate}}</button>
        </nz-form-control>
    </nz-form-item>
</form>

<nz-table #nzTable [nzData]="filters" [nzShowPagination]="false" nzBordered>
    <thead>
        <tr>
            <th [nzWidth]="'5%'" bt-text-center style="white-space: nowrap;">{{'SEQUENCE_NUMBER' | translate}}</th>
            <th [nzWidth]="'25%'" bt-text-center>{{'DESCRIPTION' | translate}}</th>
            <th [nzWidth]="'15%'" bt-text-center>{{'COMPARE_VALUE' | translate}} </th>
            <th [nzWidth]="'15%'" bt-text-center>{{'LOGIC' | translate}}</th>
            <th [nzWidth]="'15%'" bt-text-center>{{'COMPARED_VALUE' | translate}}</th>
            <th [nzWidth]="'15%'" bt-text-center>{{'COMPARE_BASE_VALUE' | translate}}</th>
            <th [nzWidth]="'10%'" bt-text-center>{{'OPERATE' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr nz-tbody-tr *ngFor="let item of nzTable.data; index as idx">
            <td bt-text-center>{{idx + 1}}</td>
            <td bt-text-center>
                <span [ngClass]="{'large': item.logic.id === 0 , 'small': item.logic.id === 1, 'equal': item.logic.id === 2}">{{item | optimizeFilterDes}}</span>
            </td>
            <td bt-text-center>{{item.compareVariable.variableDes}}</td>
            <td bt-text-center>{{item.logic.name | translate}}</td>
            <td bt-text-center>{{item.comparedVariable.variableDes}}</td>
            <td bt-text-center>
                <!--2: equal-->
                <span *ngIf="item.logic.id !== 2">{{item.baseValue}}</span>
            </td>
            <td bt-text-center>
                <a href="javascript: void 0" (click)="deleteFilter(idx)">{{'DELETE' | translate}}</a>
            </td>
        </tr>
    </tbody>
</nz-table>
