@import '../../../theme/_variable.theme';
.banner {
    background: $bcg-nav;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    height: 32px;
    line-height: 32px;
    padding: 0 1em;
}

.reply {
    position: relative;
    .reply-buttons {
        width: 10%;
        & button:last-child {
            border-radius: 0 0 4px 0;
        }
        nz-upload,
        button {
            height: 50%;
        }
        .ant-upload-drag {
            border-radius: 0 4px 0 0;
        }
    }
    .button-cover {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        width: 10%;
        height: 100%;
        text-align: center;
        font-size: 2em;
        color: #d9d9d9;
    }
    nz-upload-list {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        .anticon-cross {
            right: 0;
        }
    }
    .upload-btn {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 8px;
        width: 9%;
    }
}

.upload {
    background: #d9d9d9;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    ul {
        padding: 5px 0;
        list-style: none;
        width: 100%;
        li {
            padding: 5px;
            width: 50%;
            i {
                margin: 0 0 0 5px;
                font-size: 14px;
            }
        }
    }
}

.ant-upload-list-item {
    background:rgba(159, 232, 245, 0.2);
}
