<app-indicator [paths]="paths"></app-indicator>

<div class="button-group">
    <button nz-button [nzType]="buttonType" [nzSize]="buttonSize" (click)="navigateTo('create_robot')">
        {{'ADD' | translate}}
    </button>
    <a nz-button [nzType]="buttonType" [nzSize]="buttonSize" [routerLink]="['../','charge']">
        {{'RECHARGE' | translate}}
    </a>
    <button nz-button [nzType]="buttonType" [nzSize]="buttonSize">
        {{'DEBUG' | translate}}
    </button>
</div>

<app-robot-list></app-robot-list>
