@import '../../../theme/variable.theme';

h4 {
    margin: 0 1em 0 0;
}

h4::after {
    content: ':';
}

.backtest-info {
    background: color(gray);
    padding: 1rem 0;
}

nz-progress {
    width: 100px;
}
