<nz-table #nzTable [nzData]="list" [nzPageSize]="pageSize" [nzShowTotal]="sta" [nzNoResult]="'NO_STRATEGIES' | translate">
    <thead>
        <tr>
            <th bt-text-center nzWidth="35%">{{'NAME' | translate}}</th>
            <th bt-text-center nzWidth="15%">{{'SHARE' | translate}}</th>
            <th bt-text-center nzWidth="15%">{{'CREATE_TIME' | translate}}</th>
            <th bt-text-center nzWidth="15%">{{'LATEST_MODIFY' | translate}}</th>
            <th bt-text-center nzWidth="20%">{{'OPERATE' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let strategy of nzTable.data">
            <td bt-text-direction direction="left">
                <a (click)="navigateTo(strategy)">{{strategy.name}}</a>
                <nz-tag *ngIf="strategy.category === 20" [nzColor]="'magenta'">{{'TEMPLATE_LIBRARY' | translate}}</nz-tag>

                <nz-tag *ngIf="strategy.hasToken" [nzColor]="'red'">{{'REMOTE_EDIT' | translate}}</nz-tag>

                <span *ngIf="strategy.is_owner; else notOwnerBlock">
                    <nz-tag *ngIf="strategy.public === 1" [nzColor]="'cyan'">{{'DISCLOSED' | translate}}</nz-tag>
                    <nz-tag *ngIf="strategy.public === 2" [nzColor]="'orange'">{{'PENDING_REVIEW' | translate}}</nz-tag>
                    <nz-tag *ngIf="strategy.public === 3 || strategy.buy_count" [nzColor]="'volcano'">
                        <span translate="SOLD_COUNT" [translateParams]="{count: strategy.buy_count || 0}"></span>
                    </nz-tag>
                </span>
                <ng-template #notOwnerBlock>
                    <nz-tag *ngIf="strategy.is_deleted" [nzColor]="'gold'">{{'DELETED' | translate}}</nz-tag>
                    <nz-tag *ngIf="!strategy.is_deleted && strategy.public !== 3" [nzColor]="'lime'">{{'INNER_PREMIUM'
                        | translate}}</nz-tag>
                </ng-template>
            </td>

            <td>
                <span *ngIf="strategy.is_owner; else buyerBlock">
                    <span *ngIf="strategy.public === 0; else cancelBlock">
                        <a (click)="publish(strategy)">{{'PUBLISH' | translate}}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="sell(strategy)">{{'SELL' | translate}}</a>
                    </span>

                    <ng-template #cancelBlock>
                        <a (click)="cancel(strategy)">{{(strategy.public === 1 ? 'CANCEL_PUBLISH': 'CANCEL_SELL') |
                            translate}}</a>
                    </ng-template>

                    <span *ngIf="strategy.public === 3">
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="genKey(strategy)">{{'MAKE_CODE' | translate}}</a>
                    </span>
                </span>

                <ng-template #buyerBlock>
                    <span [nz-tooltip]="'EXPIRE_TIME' | translate: {time: strategy.expire_date}">{{strategy.expire_date
                        | expireStatus | translate}}</span>
                </ng-template>
            </td>

            <td>{{strategy.date}}</td>

            <td>{{strategy.last_modified | fromNow}}</td>

            <td>
                <!-- 没有click事件的 a 标签都需要向下跳转-->
                <a (click)="delete.next(strategy)">{{'DELETE' | translate}}</a>

                <nz-divider nzType="vertical"></nz-divider>

                <span *ngIf="strategy.is_owner; else elseBlock">
                    <a [routerLink]="['copy', strategy.id]">{{'COPY' | translate}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a [routerLink]="['edit', strategy.id]">{{'EDIT' | translate}}</a>
                </span>

                <ng-template #elseBlock>
                    <a (click)="renewal.next(strategy)">{{'RENEWAL' | translate}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a [routerLink]="['backtest', strategy.id]">{{'BACKTEST' | translate}}</a>
                </ng-template>

            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #sta>
    <div [translate]="'PAGINATION_STATISTICS'" [translateParams]="statisticsParams"></div>
</ng-template>
