form {
    padding: 0 2rem;
    .group-select {
        display: flex;
        align-items: center;
    }
    .exchange-pair {
        margin: 0;
        padding: 0 3rem
    }
}

.add-pair {
    margin: 0 0 10px 0;
}
