.debugger {
    margin: 2em 0 1em 0;
}

nz-alert {
    margin: 0 0 1rem 0;
}

#codemirror {
    border: 1px solid #ccc;
}

.debug-info {
    margin: 2em 0;
    h3 {
        margin: 10px 0;
    }
}

.content {
   background: #fff;
   padding: 1rem 2rem;
}
