@import '../../../theme/_variable.theme';
.row {
    padding: .5em 0;
    display: flex;
    align-items: center;
    min-height: 4em;
    h6 {
        display: inline;
        padding: 0 1em;
        min-width: 7em;
        white-space: nowrap;
        margin: 0;
    }
    div {
        display: flex;
        flex-direction: column;
        min-width: 10em;
        margin-right: 2em;
        padding: 10px;
        p {
            font-weight: 700;
        }
    }
    button {
        margin-left: 1em;
    }
}

.hideBody {
    display: none !important;
}
