@import '../../../theme/_variable.theme';

ul {
    li {
        position: relative;
        margin: 0 2rem 0 0;
        padding: 1rem 2rem;

        &:first-child {
            padding-left: 0;
        }

        div {
            margin: 1rem 0;
        }

        h5 {
            margin-right: 1rem;
        }

        span {
            white-space: nowrap;
        }

        &:not(:last-child)::after {
            @include divider(1px, #d4d8da);
            right: -1rem;
        }
    }
}

h6 {
    display: inline;
    margin-right: 1rem;

    &::after {
        content: ':';
    }
}

h5,
h6 {
    white-space: nowrap;
}

.status {
    margin: 1rem 0;
}

button {
    margin: 0 2rem;
}

.pair {
    @include pair();

    &:nth-child(2) {
        background-color: $primary-2;
    }
}
