<div fxLayout="row-reverse">
    <button nz-button (click)="delete.next(-1)">{{'CLEAR' | translate}}</button>
</div>

<nz-list [nzDataSource]="data" nzItemLayout="vertical" [nzRenderItem]="item" [nzGrid]="{gutter: 16, xs: 24, sm: 12, md: 12, lg: 8, xl: 8 }">
    <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
                <nz-card>
                    <div fxLayout="row">
                        <div class="icon-container" fxLayoutAlign="center center" [style.backgroundColor]="bcgColor">
                            <i class="anticon" [ngClass]="'anticon-' + icon"></i>
                        </div>
                        <div fxLayout="column" fxFlex="1 0 auto" class="content">
                            <div fxLayoutAlign="space-between center" class="extra time">
                                <h3>{{ title | translate}}</h3>
                                <div>
                                    <p *ngIf="item.send_date">
                                        {{'SEND_TIME' | translate: {time: item.send_date | fromNow} }}
                                    </p>
                                    <p>
                                        {{item.date}}
                                        <a (click)="delete.next(item.id)">
                                            <i class="anticon anticon-delete"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div>{{item.text}}</div>
                            <div *ngIf="item.username" class="extra reply">
                                {{'TOPIC_REPLIED' | translate: {username: item.username, topic: item.topic ||
                                item.md5} }}
                            </div>
                        </div>
                    </div>
                </nz-card>
            </ng-template>
        </nz-list-item>
    </ng-template>
</nz-list>
