<nz-card *ngIf="isShow | async" [nzTitle]="'STRATEGY_CHART' | translate" [nzExtra]="extra">
    <nz-tabset>
        <nz-tab *ngFor="let option of options | async; index as idx" [nzTitle]="option | strategyChartTitle: idx">
            <div class="chart">
                <!--FIXME: ignore this error-->
                <chart [type]="option.__isStock === false ? 'Chart' : 'StockChart'" [options]="option" (load)="chart$.next($event.context)"></chart>
            </div>
        </nz-tab>
    </nz-tabset>

    <!--留着调试时使用，省的来回切换图表-->
    <!-- <div *ngFor="let option of options | async index as idx">

        <head>{{option | strategyChartTitle: idx}}</head>
        <chart [type]="option.__isStock === false ? 'Chart' : 'StockChart'" [options]="option" (load)="chart$.next($event.context)"
            class="chart"></chart>
    </div> -->

    <div fxLayoutAlign="space-between center" class="pagination">
        <div>{{statistics | async}}</div>
        <nz-pagination [(nzPageIndex)]="currentPage" (nzPageIndexChange)="changePage(currentPage)" [nzTotal]="logTotal | async" [nzPageSize]="pageSize | async"
            nzShowQuickJumper></nz-pagination>
    </div>
</nz-card>

<ng-template #extra>
    <a (click)="toggle()">
        {{(isFold ? 'UNFOLD' : 'FOLD') | translate}}
    </a>
</ng-template>
