<nz-spin [nzTip]="'LOADING' | translate" [nzSpinning]="isLoading | async">
    <nz-table #nzTable [nzData]="list | async" [nzPageSize]="pageSize" [nzShowTotal]="sta" [nzNoResult]="'NO_PRIVATE_AGENT' | translate">
        <thead>
            <tr>
                <th *ngFor="let item of tableHead" bt-text-center>{{item | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agent of nzTable.data">
                <td bt-text-center>{{agent.id}}</td>

                <td bt-text-center>{{agent.ip}}</td>

                <td bt-text-center>{{agent.os}} {{agent | agentRegion}}</td>

                <td bt-text-center>{{agent.loaded}}</td>

                <td bt-text-center>
                    {{agent.build}}
                    <nz-tag *ngIf="agent.build | isOldVersion: latestVersion" nzColor="cyan">{{'OLD_VERSION' | translate}}</nz-tag>
                </td>

                <td bt-text-center>{{agent.date}}</td>

                <td bt-text-center>
                    <span *ngIf="agent.build | isOldVersion: latestVersion; else elseBlock">{{agent.date}}</span>
                    <ng-template #elseBlock>
                        <span>{{(agent.online ? 'ONLINE' : 'OFFLINE') | translate}}</span>
                    </ng-template>
                </td>
                <td bt-text-center>
                    <a href="javascript: void 0" (click)="setNodeWd$.next(agent)">
                        <i class="anticon" [ngClass]="!!agent.wd ? 'anticon-eye-o' : 'anticon-circle-o'"></i>
                    </a>

                    <nz-divider nzType="vertical"></nz-divider>

                    <a href="javascript: void 0" (click)="delete$.next(agent)">
                        <i class="anticon anticon-delete"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>

<ng-template #sta>
    <div [translate]="'PAGINATION_STATISTICS'" [translateParams]="statisticsParams | async"></div>
</ng-template>
