<div *ngIf="showBanner" class="banner">
    <span *ngIf="username else loginBtnBlock">
        {{'CURRENT_ACCOUNT' | translate}}: {{username}}
    </span>

    <ng-template #loginBtnBlock>
        <a routerLink="/auth/login">{{'LOGIN_THEN_COMMENT' | translate }}</a>
    </ng-template>
</div>

<div fxLayout="row" class="reply">
    <textarea [(ngModel)]="content" [placeholder]="'LEAVE_COMMENT' | translate" nz-input [nzAutosize]="size" [style.borderRadius]="showBanner ? '0 0 0 4px' : '4px 0 0 4px'"></textarea>

    <div fxLayout="column" class="reply-buttons" [style.borderRadius]="showBanner ? '0 0 4px 0' : '0 4px 4px 0'">
        <button nz-button nzType="primary" [style.borderRadius]="showBanner ? '0' : '0 4px 0 0'">
            <i class="anticon anticon-paper-clip" (click)="uploadFile()"></i>
            <span>{{'ATTACH_ATTACHMENT' | translate}}</span>
        </button>

        <button nz-button nzType="primary" [disabled]="!content" (click)="send.next(content)">
            <span>{{buttonText | translate}}</span>
        </button>
    </div>

    <div *ngIf="!(isLogin | async)" fxLayoutAlign="center center" [nz-tooltip]="'PLEASE_LOGIN' | translate" class="button-cover">
        <i class="anticon anticon-close-circle-o"></i>
    </div>
</div>
