@import '../../../theme/_variable.theme';

a {
    display: inline-block;
    position: relative;
    padding: 0 19px;
    height: $header-height;
    line-height: 6;
    color: #979fc6;
    white-space: nowrap;

    &:hover {
        color: #ffffff;
    }

    &:first-child {
        padding: 0 33px 0 19px;
    }

    .active {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 6px;
        background: #484aff;
        width: 100%;
    }
}
