<app-indicator [paths]="paths"></app-indicator>

<div class="content">
    <div fxLayoutAlign="space-between center" class="topic-info">
        <div fxLayout="row">
            <a *ngIf="isTopicOwner | async" nz-button nzType="primary" [routerLink]="['../../update', topic.id]" class="update-btn">{{'UPDATE'
                | translate}}</a>

            <ul fxLayout="row">
                <li class="subtitle">
                    <i class="anticon anticon-user"></i>
                    {{topic.author}}
                </li>

                <li class="subtitle">
                    <i class="anticon anticon-clock-circle-o"></i>
                    {{topic.created}}
                </li>

                <li class="subtitle">
                    <i class="anticon anticon-message"></i>
                    {{topic.reply_count}}
                </li>

                <li class="subtitle">
                    <i class="anticon anticon-eye-o"></i>
                    {{topic.hits}}
                </li>
            </ul>
        </div>

        <app-share [topic]="topic.title" [pictures]="pictures"></app-share>
    </div>

    <markdown [data]="topic.content | toMarkdown" class="content"></markdown>
</div>

<div class="content">
    <app-comment-total [total]="total | async"></app-comment-total>

    <app-reply (send)="publish.next($event)" [showBanner]="true" [username]="username | async" [clear]="isPublishSuccess | async"
        [buttonText]="'REVIEW'" [row]="10"></app-reply>

    <app-comment [comment]="comment | async" (delete)="delete.next($event)" (update)="update.next($event)" (reply)="reply.next($event)"></app-comment>
</div>
