@import '../../square/public-detail/public-detail.component';
@import '../../../theme/variable.theme';

.topic-info {
    margin: 0 0 1em 0;
    min-height: 32px;

    .update-btn {
        margin-right: 2em;
    }
}

.content {
    @include simpleContent();

    margin: 0 0 $block-vertical-space 0;
}
