@import '../../strategy/public-detail/public-detail.component';

.topic-info {
    margin: 0 0 1em 0;
    min-height: 32px;
    position: relative;
    ul {
        margin: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
