<div fxLayoutAlign="space-between stretch">
    <ul fxLayoutAlign="start center" class="consume">
        <li fxLayoutAlign="space-between center">
            <div fxLayoutAlign="start center">
                <h3>{{'OVERVIEW' | translate}}</h3>

                <span class="info">{{'BALANCE' | translate}}</span>

                <span [translate]="unit" [translateParams]="{amount: balance | async | balance}" style='color: red'></span>
            </div>
            <a nz-button [routerLink]="['../../charge']" nzType="dark">{{'RECHARGE' | translate}}</a>
        </li>

        <li>
            <span class="info">{{'CONSUMED' | translate}}</span>
            <span [translate]="unit" [translateParams]="{amount: consumed | async | balance}"></span>
        </li>
    </ul>

    <ul class="duration">
        <li>
            <i class="anticon anticon-robot-o"></i>
            <div fxLayout="column">
                <div>
                    <span class="info">{{'GROSS_PROFIT' | translate}}</span>
                    <span>{{grossProfit | async | number: '1.0-5'}}</span>
                </div>

                <div>
                    <span class="info">{{'ROBOT' | translate}}</span>
                    <span>{{robotTotal | async}}</span>
                </div>
            </div>
        </li>
        <li>
            <i class="anticon anticon-library-o"></i>
            <div>
                <span class="info">{{'STRATEGY_LIBRARY' | translate}}</span>
                <span>{{strategyTotal | async}}</span>
            </div>
        </li>
        <li>

            <i class="anticon anticon-agent-o"></i>
            <div>
                <span class="info">{{'AGENT' | translate}}</span>
                <span>{{agentTotal | async}}</span>
            </div>
        </li>
        <li>

            <i class="anticon anticon-exchange-o"></i>
            <div>
                <span class="info">{{'EXCHANGE' | translate}}</span>
                <span>{{exchangeTotal | async}}</span>
            </div>
        </li>
    </ul>
</div>
