<app-indicator [paths]="paths"></app-indicator>

<nz-alert nzType="info" [nzDescription]="'BALANCE_EARLY_WARING_TIP' | translate" [nzCloseText]="'I_KNOWN' | translate" nzShowIcon></nz-alert>

<form nz-form #alertForm="ngForm" (ngSubmit)="onSet(amount)" nzLayout="inline">
    <nz-form-item>
        <nz-form-label [nzSm]="labelSm" [nzXs]="xs" nzRequired>{{'BALANCE_MIN_VALUE' | translate}}</nz-form-label>
        <nz-form-control [nzSm]="controlSm" [nzXs]="xs" nzHasFeedback>
            <nz-input-group>
                <nz-input-number [(ngModel)]="amount" name="balance" required #spy="ngModel" [nzMin]="0"></nz-input-number>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14">
            <button nz-button nzType="primary" type="submit" [disabled]="alertForm.form.invalid">{{'CONFIRM' | translate}}</button>
        </nz-form-control>
    </nz-form-item>
</form>
