<nz-card *ngIf="isShow | async" [nzTitle]="'PROFIT_CURVE' | translate" [nzExtra]="extra">
    <chart type="StockChart" [options]="options | async" (load)="chart$.next($event.context)" class="chart"></chart>

    <div fxLayoutAlign="space-between center" class="pagination">
        <div>{{statistics | async}}</div>
        <nz-pagination [(nzPageIndex)]="currentPage" (nzPageIndexChange)="changePage(currentPage)" [nzTotal]="logTotal | async" [nzPageSize]="pageSize | async"
            nzShowQuickJumper></nz-pagination>
    </div>
</nz-card>

<ng-template #extra>
    <a (click)="toggleFold()">
        {{(isFold ? 'UNFOLD' : 'FOLD') | translate}}
    </a>
</ng-template>
