<app-indicator [paths]="paths"></app-indicator>

<nz-tabset>
    <nz-tab *ngFor="let tab of tabs; index as idx" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
            <i class="anticon" [ngClass]="tab.icon"></i>{{ tab.name | translate }}
        </ng-template>
        <div [ngSwitch]="idx">
            <div *ngSwitchCase="0">
                <ng-content *ngTemplateOutlet="edit"></ng-content>
            </div>
            <div *ngSwitchCase="1">
                <ng-content *ngTemplateOutlet="backtest"></ng-content>
            </div>
            <div *ngSwitchDefault>template not found</div>
        </div>
    </nz-tab>
</nz-tabset>

<ng-template #edit>
    <div class="section">
        <app-strategy-des [name]='strategyName | async' [category]='category | async' [language]="language | async" (catChange)="category$.next($event)"
            (langChange)="language$.next($event)" (nameUpdate)="name$.next($event)"></app-strategy-des>
    </div>

    <div class="section">
        <app-strategy-codemirror [strategy]="strategy | async" [language]="language$ | async" [category]="category$ | async" (save)="save$.next($event)"
            (download)="export$.next($event)"></app-strategy-codemirror>
    </div>

    <div class="section">
        <h3>{{'STRATEGY_ARGUMENTS' | translate}}</h3>

        <app-add-arg [isAlternation]="false" (add)="args$.next($event)"></app-add-arg>

        <div class="section">
            <app-arg-list [isAlternation]="false" [param]="args | async" #strategyArgs></app-arg-list>
        </div>
    </div>

    <div class="section">
        <h3>{{'STRATEGY_ALTERNATION' | translate}}</h3>

        <app-add-arg [isAlternation]="true" (add)="commandArgs$.next($event)"></app-add-arg>

        <div class="section">
            <app-arg-list [isAlternation]="false" [param]="commandArgs | async" #strategyCommandArgs></app-arg-list>
        </div>
    </div>

</ng-template>

<ng-template #backtest>
    this is backtest
</ng-template>

<button nz-button [nzType]="'primary'" (click)="save$.next(true)">{{'CREATE_STRATEGY' | translate}}</button>
