<app-indicator [paths]="paths"></app-indicator>

<div nz-row class="content">
    <h3 class="content-head">
        {{'AGENT_CREATE_GUIDE' | translate}}

        <i class="anticon anticon-info-circle" [nz-tooltip]="'PRIVATE_AGENT_INTRO' | translate"></i>
    </h3>

    <div nz-row nzGutter="24" class="table">
        <div nz-col nzSpan="12">
            <app-create-agent></app-create-agent>
        </div>

        <div nz-col nzSpan="10" bt-text-center>
            <h3 class="bind-tip">{{'SUBSCRIBE_WECHAT_TIP' | translate}}</h3>
            <img src="../../../assets/images/weixin_botvs.jpg">
        </div>
    </div>
</div>
