@import '../../../theme/_variable.theme';

.content {
    @include commonContent();
}

i {
    @include help();
}

.bind-tip {
    color: inherit;
    font-weight: 400;
    font-size: 1rem;
}

@import '../../../theme/ng-zorro-extend/steps/steps';
