<p>{{'SECURITY_VERIFY' | translate}}</p>
<mat-dialog-content class="content">
    <form
        nz-form
        #verifyForm="ngForm"
        fxLayoutAlign="start center"
    >
        <div nz-form-item>
            <div nz-form-label>

                <label
                    for="password"
                    nz-form-item-required
                >
                    {{'PASSWORD' | translate}}
                </label>
            </div>
        </div>
        <div
            nz-form-control
            nzHasFeedback
            fxFlex="1 1 auto"
        >
            <nz-input
                [nzType]="'password'"
                [(ngModel)]="password"
                [nzId]="'password'"
                [nzSize]="'large'"
                required
                minlength="6"
                maxlength="16"
                name="password"
                #spy="ngModel"
            >
                <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                </ng-template>
            </nz-input>

            <div
                nz-from-explain
                *ngIf="spy.invalid && (spy.dirty  || spy.touched)"
                class="tip"
            >
                <div *ngIf="spy.errors.required">
                    {{'PASSWORD_REQUIRED_ERROR' | translate}}
                </div>
                <div *ngIf="!spy.errors.required">{{'PASSWORD_FORMAT_ERROR' | translate}}</div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        nz-button
        [nzSize]="'large'"
        [mat-dialog-close]="false"
        style="margin-right: 20px;"
    >
        {{'CANCEL' | translate}}
    </button>
    <button
        nz-button
        [nzType]="'primary'"
        [nzSize]="'large'"
        [mat-dialog-close]="true"
        [disabled]="verifyForm.invalid"
        (click)="verify$.next(password)"
    >
        {{'CONFIRM' | translate}}
    </button>
</mat-dialog-actions>
