<p>{{'SECURITY_VERIFY' | translate}}</p>
<mat-dialog-content class="content">
    <form nz-form #verifyForm="ngForm" fxLayoutAlign="start center">
        <nz-form-item>
            <nz-form-label>{{'PASSWORD' | translate}}</nz-form-label>
            <nz-form-control nzHasFeedback fxFlex="1 1 auto">
                <nz-input-group [nzPrefix]="prefix">
                    <input type="password" [(ngModel)]="password" [nzSize]="size" minlength="6" maxlength="16" #spy="ngModel" name="password"
                        nz-input required>
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input-group>
                <nz-form-explain *ngIf="spy.invalid && (spy.dirty || spy.touched)" class="tip">
                    <div *ngIf="!!spy.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
                    <div *ngIf="!spy.errors.required">{{'PASSWORD_FORMAT_ERROR' | translate}}</div>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button nz-button [nzSize]="size" [mat-dialog-close]="false" style="margin-right: 20px;">
        {{'CANCEL' | translate}}
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="size" [mat-dialog-close]="true" [disabled]="verifyForm.invalid" (click)="verify$.next(password)">
        {{'CONFIRM' | translate}}
    </button>
</mat-dialog-actions>
