@import '../../../theme/variable.theme';

.content {
    @include simpleContent();
}

img {
    max-width: 100%;
}

.main-title {
    font-weight: 700;
}

.sub-title {
    text-indent: 2em;
    font-weight: 500;
}

.sub-sub-title {
    text-indent: 3em;
}

.sub-sub-sub-title {
    text-indent: 4em;
}
