img {
    max-width: 100%;
}

.ant-back-top {
    right: 50px;
}

.ant-anchor {
    margin: 100px 0;
}

.main-title {
    font-weight: 700;
}

.sub-title {
    text-indent: 2em;
    font-weight: 500;
}

.sub-sub-title {
    text-indent: 3em;
}

.sub-sub-sub-title {
    text-indent: 4em;
}
