<h3>{{ 'MODIFY_SUBACCOUNT_PASSWORD' | translate}}</h3>

<form nz-form [formGroup]="form" [nzLayout]="'horizontal'">
    <nz-form-item>
        <nz-form-label [nzSpan]="8">{{'SUBACCOUNT_USERNAME' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="8" nzHasFeedback>
            <nz-input-group [nzPrefix]="userPrefix">
                <input formControlName="username" nz-input>
                <ng-template #userPrefix>
                    <i class="anticon anticon-user"></i>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8">{{'NEW_PASSWORD' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="8">
            <nz-input-group [nzPrefix]="prefix">
                <input type="password" formControlName="password" nz-input>
                <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                </ng-template>
            </nz-input-group>
        </nz-form-control>
        <nz-form-explain *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="!!password.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
            <div *ngIf="!password.errors.required && !!password.errors.passwordFormat">{{form.getError('passwordFormat', 'password') | translate}}</div>
        </nz-form-explain>
    </nz-form-item>
</form>

<div bt-text-direction direction="right">
    <button nz-button (click)="close(null)">{{'CANCEL' | translate}}</button>
    <button nz-button (click)="close(form.get('password').value)" [disabled]="form.invalid" nzType="primary">{{'CONFIRM' | translate}}</button>
</div>
