@import '../../../theme/_variable.theme';

.alternative {
    display: inline-block;
    min-width: 70%;
}

.title {
    background-color: $weakBlue;
    border-radius: 4px;
    text-indent: 1em;
    color: $gray;
    min-height: 39px;
    line-height: 39px;
}
