@import '../../../theme/_variable.theme';
@import '../_home';
#produce-bcg {
    @include home-section-bcg(#0288d1);
}
section {
    padding: 35px $content-padding;
    position: relative;
    color: #fff;
    .user {
        min-height: 198px;
        p {
            padding: 24px 15px;
            height: 153px;
            overflow: hidden;
        }
        img {
            width: 150px;
            height: 50px;
        }
    }
}

#free {
    margin: 40px 0;
    height: 92px;
    line-height: 92px;
    .popover-button {
        width: 160px;
        height: 48px;
        margin: 0 10px;
        i {
            margin: 0 16px 0 0;
        }
    }
}

@media screen and (max-width: $screen-width-small) {
    #produce-bcg {
        margin: 0;
    }

    section {
        margin: 0 -35px;
        padding: 35px 0;
    }
}