@import '../../../theme/_variable.theme';
@import '../_home';
section {
    padding: 0 $content-padding;
    position: relative;
    color: #fff;
    &::before {
        @include section-bcg(#0288d1);
    }
    .user {
        min-height: 198px;
        p {
            padding: 24px 15px;
        }
        img {
            width: 150px;
            height: 50px;
        }
    }
}

#free {
    margin: 40px 0;
    height: 92px;
    line-height: 92px;
    .popover-button {
        width: 160px;
        height: 48px;
        margin: 0 10px;
        i {
            margin: 0 16px 0 0;
        }
    }
}
