<nz-table #nestedTable [nzData]="robots" [nzPageSize]="50">
    <thead>
        <tr>
            <th nzWidth="5%" nzShowExpand></th>
            <th nzWidth="15%">{{'NAME' | translate}}</th>
            <th nzWidth="25%">{{'STRATEGY_NAME' | translate}}</th>
            <th nzWidth="10%">{{'PROFIT' | translate}}</th>
            <th nzWidth="10%">{{'USER' | translate}}</th>
            <th nzWidth="15%">{{'CREATE_DATE' | translate}}</th>
            <th nzWidth="10%">{{'LEVEL' | translate}}</th>
            <th nzWidth="10%">{{'OPERATE' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <!--不要循环结构-->
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr>
                <ng-container>
                    <td *ngIf="!!data.summary else emptyBlock" nzShowExpand [(nzExpand)]="data.expand"></td>
                    <ng-template #emptyBlock>
                        <td></td>
                    </ng-template>
                </ng-container>
                <td>{{data.name}}</td>
                <td>{{data.strategy_name}}</td>
                <td>{{data.profit | number: '1.2-4'}}</td>
                <td>{{data.username}}</td>
                <td>{{data.date}}</td>
                <td>{{(data.is_sandbox ? 'SIMULATE_QUOTATION' : 'ACTUAL_QUOTATION' )| translate}}</td>
                <td>
                    <a (click)="lookupStrategy(data)">{{'ONLOOKERS' | translate}}</a>
                </td>
            </tr>
            <tr *ngIf="!!data.summary && data.expand">
                <td></td>
                <td colspan="7">
                    <app-robot-subtitle [summary]="data.summary"></app-robot-subtitle>

                    <app-robot-inner-table [summary]="data.summary"></app-robot-inner-table>

                    <app-robot-info [summary]="data.summary"></app-robot-info>
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>
