<div fxLayoutAlign="space-between stretch">
    <ul fxLayoutAlign="start center" class="consume">
        <li fxLayoutAlign="space-between center">
            <div fxLayoutAlign="start center">
                <h3>{{'OVERVIEW' | translate}}</h3>

                <span class="info">{{'STRATEGY_TOTAL' | translate}}</span>
                <span>{{total | async}}</span>
            </div>
        </li>

        <li fxLayoutAlign="space-between center">
            <div>
                <span class="info">{{'SELL_COUNT' | translate}}</span>
                <span>{{soldCount | async}}</span>
            </div>

            <a nz-button nzType="dark">
                {{'VIEW_SOLD_RECORDS' | translate}}
            </a>
        </li>

        <li>
            <span class="info">{{'PUBLISH_COUNT' | translate}}</span>
            <span>{{publishCount | async}}</span>
        </li>

        <li>
            <span class="info">{{'EXPIRE_COUNT' | translate}}</span>
            <span>{{expireCount | async}}</span>
        </li>
    </ul>
</div>
