<div id="intro" fxLayout="column">
    <section>
        <img src="../../../assets/images/botvs.png" alt="introduction">
        <p>{{'INTRODUCTION_TITLE' | translate}}</p>
    </section>

    <section>
        <div fxLayout="row nowrap">
            <i class="anticon anticon-check"></i>
            <span>{{'INTRODUCTION_LABEL' | translate}}</span>
        </div>
        <div fxLayout="row nowrap">
            <i class="anticon anticon-check"></i>
            <span>{{'INTRODUCTION_LABEL_2' | translate}}</span>
        </div>
        <div fxLayout="row nowrap">
            <i class="anticon anticon-check"></i>
            <span>{{'INTRODUCTION_LABEL_3' | translate}}</span>
        </div>
    </section>

    <section>
        <nz-popover>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" nz-popover class="popover-button">
                <i class="anticon anticon-global"></i>
                {{'FOLLOW_WECHAT' | translate}}
            </button>
            <ng-template #nzTemplate>
                <img src="../../../assets/images/wechat_quant.jpg">
            </ng-template>
        </nz-popover>

        <nz-popover>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" nz-popover class="popover-button">
                <i class="anticon anticon-qq" style="color: #1890ff"></i>
                <a href="//shang.qq.com/wpa/qunwpa?idkey=bfd30dcc563a4a14687967b51d5b9d11c8d227a0adf82a08e8a4e6bc1c647050">{{'JOIN_QQ_GROUP' | translate}}</a>
            </button>
            <ng-template #nzTemplate>
                <p>四群: 456221748 (可加此群)</p>
                <p>
                    三群: 469046711 (2000人群,
                    <font color="red">已满</font>
                    )
                </p>
                <p>
                    二群: 608262365 (2000人群,
                    <font color="red">已满</font>
                    )
                </p>
                <p>
                    主群: 309368835 (2000人群,
                    <font color="red">已满</font>
                    )
                </p>
            </ng-template>
        </nz-popover>
    </section>
    <div id="intro-bcg"></div>
</div>
