<div id="intro" fxLayoutAlign="center center" fxLayout="column">
    <img src="../../../assets/images/home/logo_zimu.png" alt="introduction">
    <img src="../../../assets/images/home/banner_wenzi.png" alt="introduction">

    <section>
        <button nz-button nzType="primary" nzSize="large" nz-popover nzPlacement="left" [nzContent]="wechatQuant">
            {{'QUANT_ONLINE' | translate}}
        </button>
        <ng-template #wechatQuant>
            <img src="../../../assets/images/wechat_quant.jpg">
        </ng-template>

        <button nz-button nzSize="large" nz-popover nzPlacement="right" [nzContent]="qqGroup">
            <a href="//shang.qq.com/wpa/qunwpa?idkey=bfd30dcc563a4a14687967b51d5b9d11c8d227a0adf82a08e8a4e6bc1c647050">{{'JOIN_QQ_GROUP'
                | translate}}</a>
        </button>
        <ng-template #qqGroup>
            <p *ngFor="let item of QQGroup">
                <i class="anticon anticon-qq"></i>
                {{item.name | translate}} : {{item.id}}
            </p>
        </ng-template>
    </section>
</div>

<!--QQ group label, unused-->
<!-- "QQ_GROUP_FULL": "{{name}}:{{id}}（2000人群，<font color='red'>已满</font>）",
    "QQ_GROUP_CAN_JOIN": "{{name}}:{{id}}（可加此群）", -->
