<nz-card *ngIf="robot" [nzExtra]="extra" [nzTitle]="'ROBOT_OVERVIEW' | translate">
    <ul fxLayoutAlign="start center">
        <li>
            <div>
                <h6>{{'NAME' | translate}}</h6>
                <span>{{robot.name}}</span>
            </div>
            <div>
                <h6>{{'CREATE_TIME' | translate}}</h6>
                <span>{{robot.start_time}}</span>
            </div>
        </li>

        <li fxLayoutAlign="space-between center">
            <h5>{{'STRATEGY' | translate}}</h5>
            <div>
                <div>
                    <h6>{{'NAME' | translate}}</h6>
                    <span>{{robot.strategy_name}}</span>
                </div>
                <div>
                    <h6>{{'LATEST_UPDATE' | translate}}</h6>
                    <span>{{robot.strategy_last_modified}}</span>
                </div>
            </div>
        </li>

        <li fxLayoutAlign="space-between center">
            <h5>{{'LATEST_RUN' | translate}}</h5>
            <div>
                <div>
                    <h6>{{'START_TIME' | translate}}</h6>
                    <span>{{robot.start_time}}</span>
                </div>
                <div>
                    <h6>{{'END_TIME' | translate}}</h6>
                    <span>{{robot.end_time}}</span>
                </div>
            </div>
        </li>

        <li>
            <div>
                <h6>{{'K_LINE_PERIOD' | translate}}</h6>
                <span>{{robot.strategy_exchange_pairs | fromJSON | kLinePeriod | translate}}</span>
            </div>
        </li>
    </ul>

    <div>
        <h6>{{'EXCHANGE_PLATFORM' | translate}}</h6>
        <span *ngFor="let pair of robot.strategy_exchange_pairs | fromJSON | platformStock: robot.plabels" class="pair">{{pair.platform}}/{{pair.stock}}</span>
    </div>
</nz-card>

<ng-template #extra>
    <a (click)="toggle()">{{(isFold ? 'UNFOLD' : 'FOLD') | translate}}</a>
</ng-template>
