<nz-list [nzDataSource]="topics" [nzItemLayout]="'vertical'" [nzRenderItem]="item">
    <ng-template #item let-item>
        <nz-list-item [nzActions]="[authorAction, dateAction, replyAction, hitAction]" [nzExtra]="extra">
            <ng-template #authorAction>
                <i class="anticon anticon-user"></i>
                {{item.author}}
            </ng-template>

            <ng-template #dateAction>
                <i class="anticon anticon-clock-circle-o"></i>
                {{item.created}}
            </ng-template>

            <ng-template #replyAction>
                <i class="anticon anticon-message"></i>
                {{item.reply_count}}
            </ng-template>

            <ng-template #hitAction>
                <i class="anticon anticon-eye-o"></i>
                {{item.hits}}
            </ng-template>

            <nz-list-item-meta [nzTitle]="nzTitle">
                <ng-template #nzTitle>
                    <a [routerLink]="['./', item.id, item.title]">{{item.title}}</a>
                </ng-template>
            </nz-list-item-meta>

            <ng-template #extra>
                <nz-tag [nzColor]="color[item.node_id] || ''">{{nodeName(item.node_id)}}</nz-tag>
            </ng-template>
        </nz-list-item>
    </ng-template>
</nz-list>
