@import '../../../theme/variable.theme';

.content {
    @include simpleContent();
}

#bbs-navigator {

    margin: 0 0 2em 0;

    .create-topic {
        margin: 0 2em;
    }

    nz-input-group {
        width: 200px;
    }
}

.pagination {
    margin: 10px 0;
}
