<nz-avatar [nzText]="username" nz-popover nzPlacement="bottom" [nzTitle]="welcomeTpl" [nzContent]="userInfoTpl"></nz-avatar>

<ng-template #welcomeTpl>
    <h6>
        {{'HELLO' | translate}}: {{username}}
    </h6>
</ng-template>

<ng-template #userInfoTpl>
    <div fxLayout="column" id="user-info-tpl">
        <a [routerLink]="['account']">
            <i class="anticon anticon-setting"></i>
            {{'ACCOUNT_MANAGEMENT' | translate}}
        </a>

        <nz-divider nzType="vertical"></nz-divider>

        <a (click)="logout.next(true)" style="font-size: 12px; color: red">
            <i class="anticon anticon-logout"></i>
            {{'LOGOUT' | translate}}
        </a>
    </div>
</ng-template>
