@import '../../../theme/_variable.theme';
@import '../../home/home';

.user-avatar {
    color: color(weak-normal-color);
    cursor: pointer;
}

a {
    margin: 0 1em;
}

nz-avatar {
    background-color: color(dark-hover-bcg);
    margin-right: 10px;
}

@include I18n();

@include I18nDropdown();


.ant-dropdown-menu-item:last-child {
    a:hover {
        color: color(dangerous);
    }
}
