<nz-dropdown>
    <a nz-dropdown>
        <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
        <i class="anticon anticon-down"></i>
        {{username}}
    </a>
    <ul nz-menu>
        <li nz-menu-item>
            <a [routerLink]="['/', 'dashboard', 'account']">
                <i class="anticon anticon-setting"></i>
                {{'ACCOUNT_MANAGEMENT' | translate}}
            </a>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item>
            <a (click)="logout.next(true)">
                <i class="anticon anticon-logout"></i>
                {{'LOGOUT' | translate}}
            </a>
        </li>
    </ul>
</nz-dropdown>
