$blue: #0273d4;
$gray: #77909c;

/////
$container-margin: 164px;
$content-padding: 10%;
$title-font: 400 40px/60px 'Google Sans', sans-serif;
$screen-width-middle: 1450px;
$screen-width-small: 1000px;

////
$header-height: 96px;
$bcg-nav: #f7f7f7;