<h2
    mat-dialog-title
    bt-text-center
>
    {{'AGREEMENT' | translate}}
</h2>
<mat-dialog-content>
    <markdown [data]="content | async"></markdown>
    <mat-spinner
        *ngIf="!(pending | async)"
        style="margin: 0 auto;"
    ></mat-spinner>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button
        nz-button
        [nzSize]="'large'"
        [mat-dialog-close]="false"
    >
        {{'DISAGREE' | translate}}
    </button>

    <button
        nz-button
        [nzType]="'primary'"
        [nzSize]="'large'"
        [mat-dialog-close]="true"
    >
        {{'AGREE' | translate}}
    </button>
</mat-dialog-actions>
