<div id="sundry-bcg">
    <section
        id="sundry"
        fxLayout="row wrap"
        fxLayoutAlign="start stretch"
        nz-row
    >
        <ul
            nz-col
            [nzSpan]="6"
            *ngFor="let type of list"
            class="sundry"
        >
            <li>
                <h3>{{type.title}}</h3>
            </li>
            <li *ngFor="let item of type.list">
                <a href="javascript: void 0">{{item.label}}</a>
            </li>
        </ul>

        <ul
            nz-col
            [nzSpan]="6"
            id="sundry-right"
            class="sundry"
        >
            <h3>
                <a href="javascript: void 0">
                    <img src="../../../assets/images/botvs.png">
                </a>
            </h3>

            <li *ngFor="let item of rightList">
                <a href="javascript: void 0">{{item.label}}</a>
            </li>
        </ul>
    </section>
</div>
