<div id="sundry">
    <div class="partners">
        <h3>{{'PARTNER' | translate}}</h3>
        <img *ngFor="let item of data" [src]="item.img" (click)="open(item)" class="partner">
    </div>

    <div class="links">
        <h3>{{'QUICK_LINKS' | translate}}</h3>
        <div nz-row class="row">
            <a nz-col nzSpan="6" routerLink="/square">{{'STRATEGY_SQUARE' | translate}}</a>
            <a nz-col nzSpan="6" href="https://zhuanlan.zhihu.com/botvs" target="__blank">{{'ZHI_HU' | translate}}</a>
            <a nz-col nzSpan="6" href="https://github.com/fmzquant" target="__blank">Github</a>
            <a nz-col nzSpan="6" href="https://t.me/fmzquant_cn" target="__blank">Telegram</a>
        </div>
        <div nz-row class="row">
            <a nz-col nzSpan="6" routerLink="/community">{{'COMMUNITY' | translate}}</a>
            <a nz-col nzSpan="6" routerLink="/doc">{{'API_DOCUMENTATION' | translate}}</a>
            <a nz-col nzSpan="6" href="https://twitter.com/fmz_quant" target="__blank">Twitter</a>
            <a nz-col nzSpan="6" routerLink="/about">{{'ABOUT_US' | translate}}</a>
        </div>
    </div>
</div>
