@import '../_home';
#sundry-bcg {
    @include home-section-bcg(#303c42);
    padding: 0 0 0 $container-margin;
}
#sundry {
    position: relative;
    a {
        color: #cfd8dc;
        padding: 8px 0;
        &:hover {
            color: #fff;
        }
    }
    ul {
        padding: 24px 20px 30px 24px;
        li {
            height: 32px;
            line-height: 32px;
        }
    }
    h3 {
        color: #fff;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
}

#sundry-right {
    background-color: #37424b;
}

@media screen and (max-width: $screen-width-small) {
    #sundry-bcg {
        margin: 0;
    }
    .sundry {
        width: 50%;
    }

}