<div fxLayout="column" fxLayoutAlign="center center">
    <div class="auth">
        <img src="../../../assets/images/auth.jpg">
    </div>
    <div class="signup-main">
        <nz-card [nzTitle]="'USER_SIGNUP' | translate" [nzExtra]="extra">
            <ng-template #extra>
                <a routerLink="/auth/login">{{'LOGIN' | translate}}</a>
            </ng-template>

            <form nz-form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="signupForm" (ngSubmit)="signup$.next(signupForm.value)">
                <nz-form-item>
                    <nz-form-label [nzSm]="labelSm" [nzXs]="labelSx" nzRequired>{{'USERNAME' | translate}}</nz-form-label>
                    <nz-form-control [nzSm]="controlSm" [nzXs]="controlXs" nzHasFeedback>
                        <nz-input-group [nzPrefix]="prefix">
                            <input nz-input formControlName="username" [nzSize]="inputSize" required>
                            <ng-template #prefix>
                                <i class="anticon anticon-user"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="username.invalid && (username.dirty || username.touched)">
                            <div *ngIf="!!username.errors.required">{{'USERNAME_TIP' | translate}}</div>
                            <div *ngIf="!username.errors.required && !!username.errors.usernameFormat">{{signupForm.getError('usernameFormat', 'username') | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="labelSm" [nzXs]="labelSx" nzRequired>{{'EMAIL' | translate}}</nz-form-label>
                    <nz-form-control [nzSm]="controlSm" [nzXs]="controlXs" nzHasFeedback>
                        <nz-input-group [nzPrefix]="prefix">
                            <input type="email" formControlName="email" [nzSize]="inputSize" nz-input required>
                            <ng-template #prefix>
                                <i class="anticon anticon-mail"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="!!email.errors.required">{{'EMAIL_REQUIRED_ERROR' | translate}}</div>
                            <div *ngIf="!email.errors.required && !!email.errors.emailFormat">{{signupForm.getError('emailFormat', 'email') | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item formGroupName="passwordInfo">
                    <nz-form-label [nzSm]="labelSm" [nzXs]="labelSx" nzRequired>{{'PASSWORD' |translate}}</nz-form-label>
                    <nz-form-control [nzSm]="controlSm" [nzXs]="controlXs" nzHasFeedback>
                        <nz-input-group [nzPrefix]="prefix">
                            <input type="password" formControlName="password" [nzSize]="inputSize" nz-input required>
                            <ng-template #prefix>
                                <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="!!password.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
                            <div *ngIf="!password.errors.required && !!password.errors.passwordFormat">{{signupForm.getError('passwordFormat', 'passwordInfo.password') | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item formGroupName="passwordInfo">
                    <nz-form-label [nzSm]="labelSm" [nzXs]="labelSx" nzRequired>{{'CONFIRM_PASSWORD' | translate}}</nz-form-label>
                    <nz-form-control [nzSm]="controlSm" [nzXs]="controlXs" nzHasFeedback>
                        <nz-input-group [nzPrefix]="prefix">
                            <input type="password" formControlName="confirmPassword" [nzSize]="inputSize" nz-input required>
                            <ng-template #prefix>
                                <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="signupForm.hasError('mismatch', 'passwordInfo') && (confirmPassword.dirty || confirmPassword.touched)"
                            style="color: #f44336">
                            <span>{{signupForm.getError('mismatch', 'passwordInfo') | translate}}</span>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <button nz-button [nzType]="'primary'" type="submit" [disabled]="!signupForm.valid || !isAgree" style="height: 46px">{{'SIGNUP' | translate}}</button>
            </form>

            <label id="agreement" nz-checkbox [(ngModel)]="isAgree" (ngModelChange)="toggleAgree$.next($event.checked)">
                {{'AGREEMENT_TIP' | translate}}
                <a (click)="dialog$.next(true)" href="javascript:void 0" style="text-decoration: none;">{{'AGREEMENT' | translate}}</a>
            </label>
        </nz-card>
    </div>
</div>
