<section id="detail">
    <h2 bt-text-center>{{'INTRO_DETAIL_TITLE' | translate}}</h2>
    <div
        nz-row
        [nzGutter]="24"
    >
        <div
            nz-col
            [nzSpan]="8"
            fxLayout="column"
            fxLayoutAlign="center center"
            *ngFor="let detail of list | async"
            class="detail"
        >
            <img [src]="detail.src">
            <div bt-text-center>
                <h3 bt-text-center>{{ detail.title | translate}}</h3>
                <p [innerHTML]="detail.detail"></p>
            </div>
        </div>
    </div>
    <div class="border"></div>
</section>
