@import '../_home';
$transformX: 20%;

#detail {
    @include dotBcg();

    h2 {
        margin: 92px 0 46px 0;

        div {
            color: #b8b8b8;
        }
    }

    .detail-container {
        margin-bottom: 220px;
        display: flex;

        .detail {
            position: relative;

            div {
                width: 408px;
                height: 353px;
                background: #fff;
                clip-path: polygon(22.5% 0, 77.5% 0, 100% 50%, 77.5% 100%, 22.5% 100%, 0 50%);
            }

            &:nth-child(1) {
                transform: translateX($transformX);
            }

            &:nth-child(2) {
                transform: translateY(50%);
            }

            &:nth-child(3) {
                transform: translateX(-$transformX);
            }

            img {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                z-index: 999;
            }

            h3 {
                position: relative;
                transform: translateY(-75%);

                &::after {
                    @include indicator();
                    bottom: -6px;
                }
            }

            div {
                position: relative;

                p {
                    position: absolute;
                    bottom: 5em;
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: screenWidth(md)) {
    .detail-container {
        flex-direction: column;
        margin-bottom: 0 !important;

        .detail {
            margin: 5em 0;
            transform: translate(0, 0) !important;
        }
    }
}
