@import '../_home';
#detail {
    padding: 50px $content-padding;
    h2 {
        color: #36474f;
        margin-bottom: 30px;
        font: $title-font;
    }
    .detail {
        padding: 24px 0;
        h3 {
            color: #455a64;
            font-size: 20px;
            margin: 16px 0 12px;
        }
        div {
            line-height: 35px;
            width: 100%;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            margin: 0 0 16px 0;
            color: #4a5960;
        }
    }
}

@media screen and (max-width: 1450px) {
    #detail {
        padding: 50px 5%;
    }
}
