<section id="detail" fxLayout="column" fxLayoutAlign="start center">
    <h2 bt-text-center>
        <div>Why do we choose us?</div>
        {{'INTRO_DETAIL_TITLE' | translate}}
    </h2>
    <div  class="detail-container">
        <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let item of list" class="detail">
            <img [src]="item.src">
            <div fxLayoutAlign="center center" fxLayout="column">
                <h3>{{item.title | translate}}</h3>
                <p [innerHTML]="item.detail | translate | safeHtml"></p>
            </div>
        </div>
    </div>

</section>
