@import '../../../theme/_variable.theme';

.content {
    @include commonContent();
}

.form-wrap {
    padding: 0 10%;
    @include paymentMethod();
}

form {
    margin: 2em auto;
}

.qr-code {
    text-align: center;
    padding: 2em 0;
}

img {
    width: 150px;
    height: 150px;
}

.pay-btn {
    white-space: nowrap;
}

.scan-tip {
    margin: 0 0 0 1em;
}

:host::ng-deep .ant-steps {
    padding: 0 10%;
}
