<div class="content">
    <div class="content-head">
        <h3>{{'CHARGE_STEP' | translate}}</h3>

        <app-payment-indicator [processing]="processing" [start]="start" [payMethodState]="payMethodSelected"></app-payment-indicator>
    </div>

    <div nz-row nzAlign="middle" class="form-wrap">
        <div nz-col [nzSpan]="16">
            <form [formGroup]="form" nz-form>
                <nz-form-item>
                    <nz-form-label [nzSm]="labelSm" [nzXs]="xs" nzRequired>{{'RECHARGE_AMOUNT' | translate}}</nz-form-label>
                    <nz-form-control [nzSm]="controlSm" [nzXs]="xs">
                        <nz-input-number formControlName="charge" required [nzMax]="100000" [nzMin]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="labelSm" [nzXs]="xs" nzRequired>{{'PAYMENT_METHOD' | translate}}</nz-form-label>
                    <nz-form-control [nzSm]="controlSm" [nzXs]="xs">
                        <nz-radio-group formControlName="payMethod" required>
                            <label *ngFor="let item of payMethods" [nzValue]="item.id" nz-radio-button>
                                <i class="anticon" [ngClass]="'anticon-' + item.icon"></i>
                                {{item.name | translate}}
                            </label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:14,offset:6}" class="pay-btn">
                        <button nz-button nzType="primary" [disabled]="form.invalid" (click)="pay$.next(form.value)">
                            <span *ngIf="payMethod.value === 1; else normalBlock">
                                {{'CREATE_QRCODE' | translate}}
                            </span>
                            <ng-template #normalBlock>
                                {{'CONFIRM_PAY_ACTION' | translate}}
                            </ng-template>
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>

        <div *ngIf="payMethod.value === 1 && charge.valid" nz-col [nzSpan]="6" class="qr-code">
            <qr-code *ngIf="wechatQRCode | async; let value" [value]="value" [size]="150"></qr-code>
        </div>
    </div>
</div>
