<div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="pwd-container"
>
    <div class="auth">
        <img src="../../../assets/images/auth.jpg">
    </div>
    <div class="pwd-main">
        <nz-card>
            <ng-template #title>
                <span style="font-size: 18px">{{'RESET_PASSWORD' | translate}}</span>
            </ng-template>
            <ng-template #body>
                <form
                    nz-form
                    fxLayout="column"
                    fxLayoutAlign="start stretch"
                    [formGroup]="pwdForm"
                    (ngSubmit)="setPwd$.next(password.value)"
                >
                    <div nz-form-item>
                        <div nz-form-label>
                            <label
                                for="password"
                                nz-form-item-required
                            >
                                {{'NEW_PASSWORD' | translate}}
                            </label>
                        </div>
                        <div
                            nz-form-control
                            nzHasFeedback
                        >

                            <nz-input
                                [nzType]="'password'"
                                formControlName="password"
                                [nzId]="'password'"
                                [nzSize]="'large'"
                                required
                            >
                                <ng-template #prefix>
                                    <i class="anticon anticon-lock"></i>
                                </ng-template>
                            </nz-input>
                            <div
                                nz-form-explain
                                *ngIf="password.invalid && (password.dirty  || password.touched)"
                            >
                                <div *ngIf="password.errors.required">{{'PASSWORD_TIP' | translate}}</div>
                                <div *ngIf="!password.errors.required && password.errors.passwordFormat">
                                    {{pwdForm.getError('passwordFormat', 'password') | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div nz-form-item>
                        <div nz-form-label>
                            <label
                                for="confirmPassword"
                                nz-form-item-required
                            >
                                {{'CONFIRM_PASSWORD' | translate}}
                            </label>
                        </div>
                        <div
                            nz-form-control
                            nzHasFeedback
                        >
                            <nz-input
                                [nzType]="'password'"
                                formControlName="confirmPassword"
                                required
                                [nzId]="'confirmPassword'"
                                [nzSize]="'large'"
                            >
                                <ng-template #prefix>
                                    <i class="anticon anticon-lock"></i>
                                </ng-template>
                            </nz-input>
                            <div
                                nz-form-explain
                                *ngIf="pwdForm.hasError('mismatch') && (confirmPassword.dirty || confirmPassword.touched)"
                                style="color: #f44336"
                            >
                                <span>
                                    {{pwdForm.getError('mismatch') | translate}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <button
                        nz-button
                        [nzType]="'primary'"
                        [nzSize]="'large'"
                        type="submit"
                        [disabled]="!pwdForm.valid"
                        style="height: 46px"
                    >
                        {{'CONFIRM_MODIFY' | translate}}
                    </button>
                </form>

            </ng-template>

        </nz-card>
    </div>
</div>
