<div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="pwd-container"
>
    <div class="pwd-main mat-elevation-z12">
        <mat-card>
            <mat-card-title>
                {{'RESET_PASSWORD' | translate}}
            </mat-card-title>
            <mat-card-content>
                <form
                    fxLayout="column"
                    fxLayoutAlign="start stretch"
                    [formGroup]="pwdForm"
                    (ngSubmit)="setPwd$.next(password.value)"
                >
                    <mat-form-field
                        [matTooltip]="'PASSWORD_FORMAT_ERROR' | translate"
                        [matTooltipPosition]="tipPosition"
                        class="full-width"
                    >
                        <input
                            type="password"
                            class="input"
                            [placeholder]="'NEW_PASSWORD' | translate"
                            formControlName="password"
                            required
                            matInput
                        >
                    </mat-form-field>

                    <div *ngIf="password.invalid && (password.dirty  || password.touched)">
                        <div
                            *ngIf="password.errors.required"
                            class="form-error"
                        >
                            {{'PASSWORD_TIP' | translate}}
                        </div>
                        <div
                            *ngIf="!password.errors.required && password.errors.passwordFormat"
                            class="form-error"
                        >
                            {{pwdForm.getError('passwordFormat', 'password') | translate}}
                        </div>
                    </div>

                    <mat-form-field
                        [matTooltip]="'PASSWORD_FORMAT_ERROR' | translate"
                        [matTooltipPosition]="tipPosition"
                        class="full-width"
                    >
                        <input
                            type="password"
                            class="input"
                            [placeholder]="'CONFIRM_PASSWORD' | translate"
                            formControlName="confirmPassword"
                            required
                            matInput
                        >
                    </mat-form-field>

                    <div
                        *ngIf="pwdForm.hasError('mismatch') && (confirmPassword.dirty || confirmPassword.touched)"
                        class="form-error"
                    >
                        <span>
                            {{pwdForm.getError('mismatch') | translate}}
                        </span>
                    </div>

                    <button
                        mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="!pwdForm.valid"
                    >
                        {{'CONFIRM_MODIFY' | translate}}
                    </button>
                </form>

            </mat-card-content>

        </mat-card>
    </div>
</div>