<div fxLayout="column" fxLayoutAlign="center center" class="pwd-container">
    <div class="auth">
        <img src="../../../assets/images/auth.jpg">
    </div>
    <div class="pwd-main">
        <nz-card [nzTitle]="'RESET_PASSWORD' | translate">
            <form nz-form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="pwdForm" (ngSubmit)="setPwd$.next(password.value)">
                <nz-form-item>
                    <nz-form-label>{{'NEW_PASSWORD' | translate}}</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="prefix">
                            <input type="password" formControlName="password" [nzSize]="inputSize" nz-input required>
                            <ng-template #prefix>
                                <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="password.invalid && (password.dirty || password.touched)">
                            <div *ngIf="!!password.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</div>
                            <div *ngIf="!password.errors.required && !!password.errors.passwordFormat">{{pwdForm.getError('passwordFormat', 'password') | translate}}</div>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>{{'CONFIRM_PASSWORD' | translate}}</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <nz-input-group [nzPrefix]="prefix">
                            <input nz-input type="password" formControlName="confirmPassword" [nzSize]="inputSize" required>
                            <ng-template #prefix>
                                <i class="anticon anticon-lock"></i>
                            </ng-template>
                        </nz-input-group>
                        <nz-form-explain *ngIf="pwdForm.hasError('mismatch') && (confirmPassword.dirty || confirmPassword.touched)" style="color: #f44336">
                            <span>{{pwdForm.getError('mismatch') | translate}}</span>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [disabled]="!pwdForm.valid" style="height: 46px">{{'CONFIRM_MODIFY' | translate}}</button>
            </form>
        </nz-card>
    </div>
</div>
