#footer {
    padding: 0 10%;
    height: 64px;
    background-color: #455a64;
    ul {
        margin: 0 50px;
        color: #fff;
        li {
            list-style: none;
            padding: 0 16px;
            a {
                color: inherit;
            }
        }
    }
    span {
        font-size: 12px;
    }
}

