<div
    id="footer"
    fxLayout="row"
    fxLayoutAlign="start center"
    ng-if="isShow | async"
>
    <nz-select
        style="width: 120px;"
        [(ngModel)]="selected"
        (ngModelChange)="language$.next($event)"
    >
        <nz-option
            nzLabel="简体中文"
            nzValue="zh"
        >
        </nz-option>
        <nz-option
            nzLabel="English"
            nzValue="en"
        >
        </nz-option>

    </nz-select>
    <ul fxLayout="row">
        <li>
            <a href>{{"GITHUB" | translate}}</a>
        </li>
        <li>
            <a href>{{"ABOUT_US" | translate}}</a>
        </li>
    </ul>
    <span>© 2015 - ∞ BotVS. 京ICP备15046776号</span>
</div>
