@import '../../home/_home';

#footer {
    padding: 0 15%;
    height: 42px;
    color: #828585;
    background-color: #4a5154;

    span {
        width: 30%;
    }
}

@media screen and (max-width: $screen-width-small) {
    #footer {
        padding: 0 2em;

        span {
            width: 100%;
        }
    }
}
