@import '../../../theme/_variable.theme';
li {
    margin: 1em 0;
    list-style: none;
    a {
        text-decoration: none;
        margin: 0 1em;
    }
    span {
        &:first-child {
            color: color(weak-bcg);
            margin-right: 1em;
            &::after {
                content: ':'
            }
        }
    }
    button {
        margin: 0 1em;
    }
}

.connect {
   color: color(accent);
}

.disconnect {
    color: color(dangerous);
}
