<app-indicator [paths]="paths"></app-indicator>

<app-strate-overview></app-strate-overview>

<div id="table-head">
    <button nz-button [nzType]="'primary'" (click)="navigateTo('create_strategy')">
        <i class="anticon anticon-plus"></i>
        {{'CREATE_STRATEGY' | translate}}
    </button>
    <button nz-button [nzType]="'secondary'">
        <i class="anticon anticon-profile"></i>
        {{'GO_TO_STRATEGY_SQUARE' | translate}}
    </button>

    <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input [placeholder]="'DISPLAY_BY_KEYWORD' | translate">
    </nz-input-group>
</div>

<app-strategy-list [list]="strategyList | async" (share)="share$.next($event)" ></app-strategy-list>
