@import '../_home';

#entrance {
    padding: 128px 0;

    h2 {
        color: #36474f;
        margin: 0 0 55px 0;
    }

    #entrance-container {
        color: #fff;

        h3 {
            color: #fff;
            position: relative;

            &:before {
                @include indicator();
                width: 20px;
                height: 1px;
                top: -14px;
                background-color: #fff;
            }
        }

        .entrance {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 230px;
            height: 330px;
            padding: 24px;

            i {
                margin: 82px 0 34px 0;
                font-size: 32px;
            }
        }
    }
}
