<div id="entrance">
    <h1 bt-text-center>{{'INTRO_ENTRANCE_TITLE' | translate}}</h1>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8" *ngFor="let entrance of list" class="entrance-list">
            <div fxLayout="column" class="entrance">
                <i [class]="entrance.icon"></i>
                <h3>{{entrance.title | translate}}</h3>
                <p>{{entrance.subtitle | translate}}</p>
                <nz-list [nzDataSource]="entrance.list" nzSize="small" nzItemLayout='vertical' [nzRenderItem]="item">
                    <ng-template #item let-item>
                        <nz-list-item [nzContent]="content"></nz-list-item>

                        <ng-template #content>
                            <a  (click)="goTo(item)">{{item.label | translate}}</a>
                        </ng-template>
                    </ng-template>
                </nz-list>
            </div>
        </div>
    </div>
    <p bt-text-center id="view-all">
        <a>
            <span>{{'VIEW_ALL_PRODUCTS' | translate}}</span>
            <i class="anticon anticon-right-circle"></i>
        </a>
    </p>
</div>
