<div id="entrance" fxLayoutAlign="center center" fxLayout="column">
    <h2>{{'INTRO_ENTRANCE_TITLE' | translate}}</h2>
    <div id="entrance-container" fxLayout="row">
        <div *ngFor="let entrance of list" class="entrance" [@inOut]="entrance.selected ? 'active' : 'inactive'" (mouseenter)="entrance.selected = true" (mouseleave)="entrance.selected = false" [style.backgroundImage]="'url(' + entrance.backgroundImag+ ')'">
            <i class="anticon" [ngClass]="'anticon-' + entrance.icon"></i>
            <h3>{{entrance.label | translate}}</h3>
            <p>{{entrance.description | translate}}</p>
            <a [hidden]="!entrance.selected" nz-button nzType="primary" (click)="navigateTo(entrance); entrance.selected = false;">{{'VIEW_DETAIL' | translate}}</a>
        </div>
    </div>
</div>
