@import '../../../theme/variable.theme';

$prefix: 'fact';

@import '../../exchange/exchange/exchange.component';

.fact-robot {
    margin: 0 0 $block-vertical-space 0;
    @include simpleContent();
}

.search {
    nz-input-group {
        width: 200px;
    }
}

.content {
    @include simpleContent();
}
