<app-indicator [paths]="paths"></app-indicator>

<div fxLayoutAlign="end start" class="search">

    <nz-input-group nzSuffixIcon="anticon anticon-search">
        <input type="text" nz-input [placeholder]="'DISPLAY_BY_KEYWORD' | translate" [formControl]='search'>
    </nz-input-group>

</div>

<nz-spin [nzSpinning]="isLoading | async" [nzTip]="'LOADING' | translate">
    <app-fact-robot-table [robots]="robots | async"></app-fact-robot-table>
</nz-spin>

<div fxLayoutAlign="space-between center">
    <h2>{{'ALL_COMMENT' | translate}}</h2>
    <span>{{total | async}}</span>
</div>

<app-reply (send)="publish.next($event)" [showBanner]="true" [username]="username | async" [clear]="isPublishSuccess | async"
    [buttonText]="'REVIEW'" [row]="10"></app-reply>

<app-comment [comment]="comment | async" (delete)="delete.next($event)" (update)="update.next($event)" (reply)="reply.next($event)"></app-comment>
