<ul>
    <li>
        <h3>{{'ACCOUNT_BALANCE' | translate}}</h3>
    </li>
    <li>{{'BILLING_RULE_1' | translate}}</li>

    <li fxLayout="row">
        <div>
            <span>{{'BALANCE' | translate}}</span>
            <span [translate]="unit" [translateParams]="{amount: balance | async | balance}"></span>
        </div>
        <div>
            <span>{{'CONSUMED' | translate}}</span>
            <span [translate]="unit" [translateParams]="{amount: consumed | async | balance}"></span>
        </div>
    </li>
</ul>
