<nz-spin [nzTip]="'LOADING' | translate" [nzSpinning]="isLoading | async">
    <nz-table #nzTable [nzData]="list | async" [nzPageSize]="pageSize">
        <thead>
            <tr>
                <th *ngFor="let item of tableHead; first as isFirst" bt-text-center [nzWidth]="isFirst ? '30%' : 'auto'">{{item | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let platform of nzTable.data">
                <td>
                    <span *ngIf="platform.id === -1;else otherExchange">{{platform.label}}</span>

                    <ng-template #otherExchange>
                        <a [href]="platform.website || '#'" target="_blank">
                            <img *ngIf="!!platform.logo" src="../../../assets/images/logo/small/{{platform.logo}}">
                            <span>{{platform.label}}</span>
                        </a>
                    </ng-template>
                </td>

                <td>
                    <span *ngFor="let stock of platform.stocks" class="pair">
                        <nz-tag nzColor="cyan">
                            {{stock}}
                        </nz-tag>
                    </span>
                </td>

                <td bt-text-center>
                    <div *ngIf="platform.id !== -1; else elseBlock">
                        <a (click)="delete$.next(platform)">{{'DELETE' | translate}}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a [routerLink]="['edit', platform.id]">{{'EDIT' | translate}}</a>
                    </div>
                    <ng-template #elseBlock>
                        <span>- -</span>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="statistics">{{statistics | async}}</div>
</nz-spin>
