@import '../../../theme/_variable.theme';

.breadcrumb {
    padding: 0 10px;
    height: 40px;
    color: color(weak-bcg);
    margin-bottom: $block-vertical-space;
    position: relative;

    &:before {
        content: '';
        background-color: #fff;
        width: calc(100% + 50px);
        position: absolute;
        top: 0;
        left: -26px;
        height: 100%;
        z-index: 0;
    }

    nz-breadcrumb {
        z-index: 1;
    }
}

.indicator {
    @include commonIndicator();
}
