@import '../../../theme/_variable.theme';
.indicator {
    padding: 0 10px;
    border-left: 3px solid $blue;
    height: 24px;
    line-height: 24px;
    color: $gray;
    margin-bottom: 2em;
    .indicator-split {
        position: relative;
        &::after {
            content: '>';
        }
    }
}
