@import './_dashboard';
@import '../home/_home';

#dashboard {
    height: 100vh;

    .logo {
        text-align: center;
        height: $header-height;
        line-height: $header-height;

        img {
            width: 80%;
            cursor: pointer;
        }
    }

    nz-header {
        background-color: color(dark-bcg);
        position: fixed;
        top: 0;
        left: 200px;
        width: calc(100% - 200px);
        z-index: 1000;
        height: $header-height;
        padding: 0;
        color: color(weak-normal-color);

        section {
            margin: 0 50px 0 0;
            width: 15%;
        }

        @include I18n();
    }

    nz-sider {
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;

        ul {
            height: calc(100% - 84px);
            overflow-y: scroll;

            li {
                margin: 0;
            }
        }
    }

    nz-content {
        padding: $dashboard-padding-vertical $dashboard-padding-horizontal 0 $dashboard-padding-horizontal;
    }
}

@include I18nDropdown();

.head-collapsed {
    left: 80px !important;
    width: calc(100% - 80px) !important;
}

:host ::ng-deep .trigger {
    line-height: $header-height;
    cursor: pointer;
    transition: color .3s;
    margin-right: 30px;
    color: color(weak-normal-color);
}

:host ::ng-deep .trigger:hover {
    color: #ffffff;
}

:host ::ng-deep .ant-menu-item {
    color: color(weak-normal-color);

    &:hover {
        color: color(dark-hover-bcg);
    }

    &::after {
        border-right-color: color(weak-normal-color);
    }
}

:host ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: color(dark-hover-bcg);
    color: color(weak-hover-color);
}

@mixin submenu-arrow($color) {

    .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-arrow::after {
        background: linear-gradient(to right, $color, $color)
    }
}

:host ::ng-deep .ant-menu-submenu-title {
    $color1: color(weak-normal-color);
    color: $color1;

    &:hover {
        $color2: color(dark-hover-bcg);
        color: $color2;

        @include submenu-arrow($color2);
    }

    @include submenu-arrow($color1);
}
