@import '../../theme/_variable.theme';
@import './_dashboard';
@import '../home/_home';

#dashboard {
    .logo {
        font-size: 22px;
        text-align: center;
        height: $header-height;
        line-height: $header-height;
    }

    nz-layout {
        background-color: #fff;
    }

    nz-header {
        background-color: $bcg-nav;
        position: fixed;
        top: 0;
        left: 200px;
        width: calc(100% - 200px);
        z-index: 1000;
        height: $header-height;

        section {
            margin: 0 50px 0 0;
            width: 10%;
        }
    }

    nz-sider {
        height: 100vh;
        background-color: $bcg-nav;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;

        ul {
            height: calc(100% - 84px);
            overflow-y: scroll;
        }

        #side-container {
            padding: 0 0 50px 0;
        }
    }

    nz-content {
        padding: 50px 100px;
    }
}

:host ::ng-deep .trigger {
    line-height: $header-height;
    cursor: pointer;
    transition: color .3s;
}

:host ::ng-deep .trigger:hover {
    color: color(primary);
}

:host ::ng-deep .logo {
    background: $bcg-nav;
}

.head-collapsed {
    left: 80px !important;
    width: calc(100% - 80px) !important;
}
