<nz-layout id="dashboard">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">BotVS</div>
        <ul nz-menu [nzInlineCollapsed]="isCollapsed" [nzMode]="isCollapsed ? 'vertical':'inline'" id="side-container">

            <ng-container *ngFor="let nav of list">

                <li *ngIf="nav.subNav;else elseBlock" [nzOpen]="isActive(nav)" nz-submenu>
                    <span title>
                        <i class="anticon" [ngClass]="'anticon-'+ nav.icon"></i>
                        <span>{{nav.label | translate}}</span>
                    </span>

                    <ul>
                        <li *ngFor="let item of nav.subNav" (click)="navigateTo(item)" nz-menu-item [ngClass]="{'ant-menu-item-selected': isPath(item.path)}">
                            <i class="anticon" [ngClass]="'anticon-'+item.icon"></i>
                            <span>{{item.label | translate}}</span>
                        </li>
                    </ul>
                </li>

                <ng-template #elseBlock>
                    <li [ngClass]="{'ant-menu-item-selected': isPath(nav.path)}" (click)="navigateTo(nav)" nz-menu-item>
                        <span title>
                            <i class="anticon" [ngClass]="'anticon-'+nav.icon"></i>
                            <span>{{nav.label | translate}}</span>
                        </span>
                    </li>
                </ng-template>
            </ng-container>

        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header [ngClass]="{'head-collapsed': isCollapsed}">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
            <section fxLayoutAlign="end center">
                <nz-dropdown>
                    <a nz-dropdown>
                        <i class="anticon anticon-down"></i>
                        {{'QUOTE_TOOLS' | translate}}
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a href="https://quant.la/Tools/View/4/chart.html" target="__blank">
                                <i class="anticon anticon-line-chart"></i>
                                {{'QUOTE_CHART' | translate}}
                            </a>
                        </li>
                        <li nz-menu-item>
                            <a href="https://quant.la/Tools/View/3/formula.html" target="__blank">
                                <i class="anticon anticon-tool"></i>
                                {{'ANALYZING_TOOL' | translate}}
                            </a>
                        </li>
                    </ul>
                </nz-dropdown>

                <button nz-button (click)="changeLanguage$.next(true)">{{language | async | translate}}</button>

                <nz-avatar [nzText]="username | async" nz-popover nzPlacement="bottom" [nzTitle]="welcomeTpl" [nzContent]="userInfoTpl"></nz-avatar>
            </section>
        </nz-header>

        <nz-content [style.margin]="isCollapsed ? '64px 0 0 80px' : '64px 0 0 200px'">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>

<ng-template #welcomeTpl>
    <h6>
        {{'HELLO' | translate}}: {{username | async}}
    </h6>
</ng-template>

<ng-template #userInfoTpl>
    <div fxLayout="column" id="user-info-tpl">
        <a [routerLink]="['account']">
            <i class="anticon anticon-setting"></i>
            {{'ACCOUNT_MANAGEMENT' | translate}}
        </a>
        <a (click)="logout()" style="font-size: 12px; color: red">
            <i class="anticon anticon-logout"></i>
            {{'LOGOUT' | translate}}
        </a>
    </div>
</ng-template>
