<nz-layout id="dashboard">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            <img src="../../assets/images/home/logo.png" routerLink="/home">
        </div>
        <ul nz-menu [nzInlineCollapsed]="isCollapsed" [nzMode]="isCollapsed ? 'vertical':'inline'" id="side-container">

            <ng-container *ngFor="let nav of sideNav">

                <li *ngIf="nav.subNav;else elseBlock" [nzOpen]="nav.selected" nz-submenu>
                    <span title>
                        <i class="anticon" [ngClass]="'anticon-'+ nav.icon"></i>
                        <span>{{nav.label | translate}}</span>
                    </span>

                    <ul>
                        <li *ngFor="let item of nav.subNav" (click)="navigateTo(item)" [nzSelected]="item.selected"
                            nz-menu-item>
                            <i class="anticon" [ngClass]="'anticon-'+item.icon"></i>
                            <span>{{item.label | translate}}</span>
                        </li>
                    </ul>
                </li>

                <ng-template #elseBlock>
                    <li (click)="navigateTo(nav)" [nzSelected]="nav.selected" nz-menu-item>
                        <span title>
                            <i class="anticon" [ngClass]="'anticon-'+nav.icon"></i>
                            <span *ngIf="nav.label !== 'MESSAGE_CENTER'; else messageBlock">{{nav.label | translate}}</span>
                            <ng-template #messageBlock>
                                <span>{{nav.label | translate}}</span>
                                <ng-container *ngIf="messageCount | async; let count">
                                    <nz-badge [nzCount]="count"></nz-badge>
                                </ng-container>
                            </ng-template>
                        </span>
                    </li>
                </ng-template>
            </ng-container>

        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header fxLayoutAlign="space-between center" [ngClass]="{'head-collapsed': isCollapsed}">
            <div>
                <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
                    (click)="isCollapsed=!isCollapsed"></i>
                <app-nav-menu [links]="headNav" (navigate)="navigateTo($event)"></app-nav-menu>
            </div>

            <section fxLayoutAlign="space-between center">
                <app-avatar [username]="username | async" (logout)="logout()"></app-avatar>

                <nz-dropdown>
                    <a nz-dropdown>
                        <i class="anticon anticon-down"></i>
                        {{ language | async | translate}}
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item (click)="language$.next('zh')">{{'SIMPLE_CHINESE' | translate}}</li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item (click)="language$.next('en')">{{'ENGLISH' | translate}}</li>
                    </ul>
                </nz-dropdown>
            </section>
        </nz-header>

        <nz-content [style.margin]="isCollapsed ? '64px 0 0 80px' : '64px 0 0 200px'">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>
