@import '../../theme/_variable.theme';
@import './_dashboard';
#dashboard {
    .logo {
        font-size: 22px;
        text-align: center;
        height: $header-height;
        line-height: $header-height;
    }
    nz-layout {
        background-color: #fff;
    }
    nz-header {
        background-color: $bcg-nav;
        position: fixed;
        top: 0;
        left: 200px;
        width: calc(100% - 200px);
        z-index: 1000;
        section {
            float: right;
            margin: 0 50px 0 0;
            a {
                margin: 0 1em;
            }
            nz-avatar {
                background-color: $blue;
            }
        }
    }
    nz-sider {
        height: 100vh;
        background-color: $bcg-nav;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        ul {
            height: calc(100% - 64px);
        }
    }
    nz-content {
        padding: 50px 100px;
    }
}

#user-info-tpl {
    a {
        margin: 10px 0;
    }
}

:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: $header-height;
    cursor: pointer;
    transition: color .3s;
}

:host ::ng-deep .trigger:hover {
    color: $blue;
}

:host ::ng-deep .logo {
    background: $bcg-nav;
}

.head-collapsed {
    left: 80px !important;
    width: calc(100% - 80px) !important;
}
