/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";
/* use form angular2-markdown; */
@import 'prismjs/themes/prism.css';
@import '../node_modules/codemirror/theme/3024-day';
@import '../node_modules/codemirror/theme/3024-night';
@import '../node_modules/codemirror/theme/abcdef';
@import '../node_modules/codemirror/theme/ambiance-mobile';
@import '../node_modules/codemirror/theme/ambiance';
@import '../node_modules/codemirror/theme/base16-dark';
@import '../node_modules/codemirror/theme/base16-light';
@import '../node_modules/codemirror/theme/bespin';
@import '../node_modules/codemirror/theme/blackboard';
@import '../node_modules/codemirror/theme/cobalt';
@import '../node_modules/codemirror/theme/colorforth';
@import '../node_modules/codemirror/theme/darcula';
@import '../node_modules/codemirror/theme/dracula';
@import '../node_modules/codemirror/theme/duotone-dark';
@import '../node_modules/codemirror/theme/duotone-light';
@import '../node_modules/codemirror/theme/eclipse';
@import '../node_modules/codemirror/theme/elegant';
@import '../node_modules/codemirror/theme/erlang-dark';
@import '../node_modules/codemirror/theme/gruvbox-dark';
@import '../node_modules/codemirror/theme/hopscotch';
@import '../node_modules/codemirror/theme/icecoder';
@import '../node_modules/codemirror/theme/idea';
@import '../node_modules/codemirror/theme/isotope';
@import '../node_modules/codemirror/theme/lesser-dark';
@import '../node_modules/codemirror/theme/liquibyte';
@import '../node_modules/codemirror/theme/lucario';
@import '../node_modules/codemirror/theme/material';
@import '../node_modules/codemirror/theme/mbo';
@import '../node_modules/codemirror/theme/mdn-like';
@import '../node_modules/codemirror/theme/midnight';
@import '../node_modules/codemirror/theme/monokai';
@import '../node_modules/codemirror/theme/neat';
@import '../node_modules/codemirror/theme/neo';
@import '../node_modules/codemirror/theme/night';
@import '../node_modules/codemirror/theme/oceanic-next';
@import '../node_modules/codemirror/theme/panda-syntax';
@import '../node_modules/codemirror/theme/paraiso-dark';
@import '../node_modules/codemirror/theme/paraiso-light';
@import '../node_modules/codemirror/theme/pastel-on-dark';
@import '../node_modules/codemirror/theme/railscasts';
@import '../node_modules/codemirror/theme/rubyblue';
@import '../node_modules/codemirror/theme/seti';
@import '../node_modules/codemirror/theme/shadowfox';
@import '../node_modules/codemirror/theme/solarized';
@import '../node_modules/codemirror/theme/ssms';
@import '../node_modules/codemirror/theme/the-matrix';
@import '../node_modules/codemirror/theme/tomorrow-night-bright';
@import '../node_modules/codemirror/theme/tomorrow-night-eighties';
@import '../node_modules/codemirror/theme/ttcn';
@import '../node_modules/codemirror/theme/twilight';
@import '../node_modules/codemirror/theme/vibrant-ink';
@import '../node_modules/codemirror/theme/xq-dark';
@import '../node_modules/codemirror/theme/xq-light';
@import '../node_modules/codemirror/theme/yeti';
@import '../node_modules/codemirror/theme/zenburn';
/* drag and drop */
@import '../node_modules/@swimlane/ngx-dnd/release/index';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
}

/* reset style */
ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
