/* You can add global styles to this file, and also import other style files */

@import './theme/dark.theme.scss';
//use form angular2-markdown;
@import 'prismjs/themes/prism.css';
html,
body {
    margin: 0;
    height: 100%;
    line-height: normal;
    font-family: Roboto, sans-serif !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, .65) !important;
    font-size: 14px !important;
    line-height: 1.5;
}

$warn: #f44336;
.form-error {
    color: $warn;
    font-size: 12px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
