<div class="exchange-head">
    <app-indicator [paths]="paths"></app-indicator>

    <div class="operate">
        <a nz-button nzType="primary" (click)="navigateTo('add')">
            <i class="anticon anticon-plus"></i>
            {{'ADD_EXCHANGE' | translate}}
        </a>

        <i class="anticon anticon-question-circle" [nz-tooltip]="'EXCHANGE_DEFINITION' | translate"></i>
    </div>
</div>

<div class="content">
    <h3 class="content-head">{{'EXCHANGE_LIST' | translate}}</h3>

    <div class="table">
        <app-exchange-list></app-exchange-list>
    </div>
</div>
