@import '../../../theme/variable.theme';

.content {
    @include commonContent();
    @include simpleContent();

    .table {
        padding-left: 0;
        padding-right: 0;
    }
}

.log-type {
    min-width: 15em;
}
