@import '../_backtest';

.anticon {
    @include help();
}

.arg-title {
    @include arg-title(color(weak-hover-bcg));
}

form {
    padding: 15px 12px;
    border-radius: 0 0 4px 4px;
}

h5 {
    margin: 1em 0 0 0;
}

nz-card {
    margin: 0 0 1rem 0;
}

:host::ng-deep .ant-card-head {
    background: color(gray);
}
