@import '../../theme/_variable.theme';
$container-margin: 164px;
$content-padding: 10%;
$title-font: 400 40px/60px 'Google Sans',
sans-serif;
$screen-width-middle: 1450px;
$screen-width-small: 1000px;
////
$screen-width: (xs: 480px,
sm: 768px,
md: 992px,
lg: 1200px,
xl: 1600px,
);

@function screenWidth($width) {
    @return map-get($map: $screen-width, $key: $width);
}

/* mixin */
@mixin section-bcg($bcg) {
    content: "";
    position: absolute;
    top: 0;
    left: -$container-margin;
    width: 100vw;
    height: 100%;
    background: $bcg
}

@mixin home-section-bcg($bcg) {
    width: 100vw;
    margin: 0 (-$container-margin);
    padding: 0 $container-margin;
    background: $bcg;
}

@mixin indicator() {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3em;
    height: 3px;
    background-color: #4647f2;
}

@mixin dotBcg {
    background: #f1f1f1;
    background-image: radial-gradient(rgba(228, 228, 228, 1) 14%, transparent 10%),
        radial-gradient(rgba(228, 228, 228, 1) 14%, transparent 10%),
        radial-gradient(rgba(228, 228, 228, 1) 14%, transparent 10%),
        radial-gradient(rgba(228, 228, 228, 1) 14%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0px 0px, 5px 0px, 0px 5px, 5px 5px;
}
