@import '../../../theme/variable.theme';
@import '../_home';
#contact-bcg {
    @include home-section-bcg(#666);
}
#contact {
    padding: 0 $content-padding 40px;
    position: relative;
    .contact {
        $color: #fff;
        position: relative;
        padding: 10px;
        color: $color;
        h3 {
            color: $color;
            margin: 32px 0 16px;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
        }
        p {
            min-height: 60px;
            margin: 16px 0;
        }
    }
}

@media screen and (max-width: $screen-width-small) {
    #contact-bcg {
        margin: 0;
    }
    .contact {
        width: 100%;
    }
}