<header fxLayoutAlign="space-evenly center">
    <img src="../../assets/images/home/logo.png">

    <app-nav-menu [links]="navNavItems" (navigate)="navigateTo($event)"></app-nav-menu>

    <!--Reactive structure-->
    <div id="menu">
        <button nz-button nz-dropdown (click)="isCollapsed = !isCollapsed">
            <i class="anticon anticon-bars"></i>
        </button>
        <ul nz-menu [style.display]="isCollapsed ? 'none' : 'block'">
            <li *ngFor="let link of navNavItems" nz-menu-item>
                <a (click)="navigateTo(link)">{{link.label | translate}}</a>
            </li>
        </ul>
    </div>

    <div id="auth" fxLayoutAlign="space-between center">
        <button nz-button nzType="dark" routerLink="/dashboard" fxLayoutAlign="center center">
            <i class="anticon anticon-code-o"></i>
            <span>{{'CONTROL_PANEL' | translate}}</span>
        </button>

        <ng-container *ngIf="isBeforeLogin | async; else account">
            <a routerLink="/auth/login">
                {{'LOGIN' | translate}}
            </a>

            <nz-divider nzType="vertical"></nz-divider>

            <a routerLink="auth/signup">
                {{'SIGNUP' | translate}}
            </a>
        </ng-container>
    </div>

    <nz-dropdown>
        <a nz-dropdown>
            <i class="anticon anticon-down"></i>
            {{ language | async | translate}}
        </a>
        <ul nz-menu>
            <li nz-menu-item (click)="language$.next('zh')">{{'SIMPLE_CHINESE' | translate}}</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="language$.next('en')">{{'ENGLISH' | translate}}</li>
        </ul>
    </nz-dropdown>

</header>

<ng-template #account>
    <app-avatar [username]="username | async" (logout)="logout()"></app-avatar>
</ng-template>
