@import '../../../theme/_variable.theme';
@import '../../home/_home';
@import '../../../theme/ng-zorro-extend/button/button';

header {
    width: 100%;
    height: $header-height;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    background: color(dark-bcg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    @include I18n();

    app-nav-menu {
        height: 100%;
    }

    #auth {
        button {
            margin: 0 22px 0 0;
        }

        nz-divider {
            margin: 0 12px;
        }
    }

    #menu {
        button {
            font-size: 16px;
            width: 50px;
        }

        ul {
            position: absolute;
            top: 96px;
            width: 200px;
            text-align: center;
            left: 0px;
            border-bottom: 1px solid rgb(233, 233, 233);
        }
    }
}

#menu {
    display: none;
}

@include I18nDropdown();

@media screen and (max-width: 1220px) {
    .header {
        margin: 0;
        width: 100%;
    }

    app-nav-menu {
        display: none !important;
    }

    #menu {
        display: block;
    }
}
