<header fxLayout="column" *ngIf="!(isLogin | async)">
    <div id="header" class="header" fxLayoutAlign="space-between center">
        <span fxLayout="row no-wrap" fxFlex="1 0 auto">
            <img src="../../assets/images/botvs.png">
        </span>

        <section fxLayoutAlign="center">

            <form fxLayoutAlign="center center">
                <nz-input-group [nzAddOnBefore]="addOnBefore">
                    <input [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" [placeholder]="'SEARCH' | translate" [nzSize]="inputSize"
                        nz-input>
                    <ng-template #addOnBefore>
                        <i class="anticon anticon-search"></i>
                    </ng-template>
                </nz-input-group>
            </form>

            <a fxFlexAlign="center">{{'CONTROL_PANEL' | translate}}</a>

            <i class="anticon anticon-ellipsis"></i>

            <nz-avatar nzIcon="user" class="avatar"></nz-avatar>
        </section>
    </div>

    <nav class="header" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="space-between center" id="nav">
            <a *ngFor="let link of navLinks" [routerLink]="link.path">
                {{link.label | translate}}
            </a>
        </div>

        <div id="menu">
            <button nz-button nz-dropdown (click)="isCollapsed = !isCollapsed">
                <i class="anticon anticon-bars"></i>
            </button>
            <ul nz-menu [style.display]="isCollapsed ? 'none' : 'block'">
                <li *ngFor="let link of navLinks" nz-menu-item>
                    <a [routerLink]="link.path">{{link.label | translate}}</a>
                </li>
            </ul>
        </div>

        <div id="auth" fxLayoutAlign="space-between center">
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" routerLink="/auth/login" routerLinkActive="active" fxLayoutAlign="center center">
                <i class="anticon anticon-login"></i>
                <span>{{'LOGIN' | translate}}</span>
            </button>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" routerLink="auth/signup" routerLinkActive="active" fxLayoutAlign="center center">
                <i class="anticon anticon-user-add"></i>
                <span>{{'SIGNUP' | translate}}</span>
            </button>
        </div>
    </nav>
</header>
