<nz-table #nzTable [nzData]="logs | async" [nzPageSize]="50" [nzShowPagination]="true" nzBordered>
    <thead nz-thead>
        <tr>
            <th nz-th>
                <span>{{'SEQUENCE_NUMBER' | translate}}</span>
            </th>
            <th nz-th *ngFor="let col of cols | async">
                <span>{{col}}</span>
            </th>
            <th nz-th>
                <span>{{'TIME_CONSUMING' | translate}}</span>
            </th>
            <th nz-th>
                <span>{{'TRANSACTIONS' | translate}}</span>
            </th>
            <th nz-th>
                <span>{{'WINNING_RATE' | translate}}</span>
            </th>
            <th nz-th>
                <span>{{'MAXIMUM_WITHDRAWAL' | translate}}</span>
            </th>
            <th nz-th>
                <span>{{'SHARP' | translate}}</span>
            </th>
            <th nz-th>
                <span>{{'ESTIMATED_REVENUE' | translate}}</span>
            </th>
            <th nz-th>
                <span>{{'PROFIT' | translate}}</span>
            </th>
        </tr>
    </thead>
    <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data; index as idx">
            <td nz-td>{{idx + 1}}</td>

            <td nz-td *ngFor="let value of values | async">{{value}}</td>

            <td nz-td>time_consuming: </td>

            <td nz-td>trade_count: </td>

            <td nz-td>winning_rate: </td>

            <td nz-td></td>

            <td nz-td></td>

            <td nz-td></td>

            <td nz-td></td>
        </tr>
    </tbody>
</nz-table>
